{% extends "layout.html" %}

		{% block title %}Měření{% endblock %}
		{% block includes %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='popup.css') }}"> <!-- Resource style -->
		<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}"> <!-- Resource style -->
		{% endblock %}


		{% block content %}
		<h1>Všichni uživatelé</h1>
		
		<table>
			<tr>
				<th>Email</th>
				<th>Jméno</th>
				<th>Datum registrace</th>
				<th>Role</th>
				<th>Změnit roli</th>
				<th>Účet</th>
				<th>Změnit</th>
			</tr>
			{% for d in data %}
			<tr>
				<td>{{ d.email }}</td>
				<td>{{ d.firstName }} {{ d.lastName }}</td>
				<td>{{ d.registered_on.strftime('%m/%d/%y') }}</td>
				
				<td>
				{% for n in d.roles %}
					{{ n.name }}
				{% endfor %}
				</td>
				
				{% for n in d.roles %}
				{% if n.name == "admin" %}
				<td><a href="#">odebrat admin oprávnění</a></td>
				
				{% else %}
				<td><a href="#">Přidat admin oprávnění</a></td>
				
				{% endif %}
				{% endfor %}
				
				{% if d.status == 0 %}
				<td>Neaktivovaný</td>
				{% elif d.status == 1 %}
				<td>Aktivovaný</td>
				{% elif d.status == 2 %}
				<td>Blokovaný</td>
				{% endif %}
				
				{% if d.status == 0 %}
				<td>-</td>
				{% elif d.status == 1 %}
				<td><a href="{{ url_for('admin.change_permission', id_user=d.id) }}">Blokovat</a></td>
				{% elif d.status == 2 %}
				<td><a href="{{ url_for('admin.change_permission', id_user=d.id) }}">Odblokovat</a></td>
				{% endif %}
				
			</tr>
			{% endfor %}
		</table>
		
		{% endblock %}
