/* 
// CSS3 Flexbox Flexible Box Layouts
// Made with ❤ by @Pawan_Mall
// http://www.pawanmall.net 
*/
@import url(http://fonts.googleapis.com/css?family=Kalam);

body{
	margin:0px;
	/*font-family: 'Kalam', cursive;*/
	font-family: 'PT Sans', sans-serif;
}

body > div{
	display:flex;
	flex-flow:row wrap;
	color: #555;
	min-height: 100vh;
}

header {
	order:1;
	height: 3em;
	flex:0 1 100%;
	background-color: lightblue;
}
nav {

	order:2;
	flex:0 1 15em;
	display: flex;
	flex-direction: column;
	flex-flow: flex-start;
	background-color: white;
	-webkit-box-shadow: 1px 0px 6px 0px rgba(50, 50, 50, 0.55);
	-moz-box-shadow:    1px 0px 6px 0px rgba(50, 50, 50, 0.55);
	box-shadow:         1px 0px 6px 0px rgba(50, 50, 50, 0.55);
	z-index: 999;
	margin-top: -3em;
	margin-bottom:-9em;
	min-height: 100vh;
	text-align: center;
}
main {
	order:3;

	flex:1;
	background-color: white;
	padding: 5em;
}
aside {
	order:4;
	flex:0 1 200px;
	background-color: #EEEEEE;
}

footer {
	height:9em;
	order:5;
	flex:0 1 100%;
	background-color: lightblue;
}

.logo {
	width: 100%;
	height: 3em;
	color: black;
	background-color: lightblue;
}

.menu {
	list-style-type: none;
	text-align: left;
	margin: 0;
	padding: 0;
	width: 15em;
}

.menu-item {
	padding: 0.8em 0em 0.8em 2em;
	font-weight: bold;
}

.submenu-item {
	padding: 0.8em 0em 0.8em 4.0em;
}

nav li a {
	display: block;
	text-decoration: none;
	color: #888;
	margin: 0 1em; /* odsazeni hover obdelniku*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	transition: background 0.3s;
}

nav li a:hover {
	background-color: #EEE;
	
}

.sidefooter {
	height: 9em;
	background-color: lightblue;
	margin-top: auto;
}

.i-active {
margin-right: 1em;
	background-color: red;
	padding: 0.1em;
}
