
@import url('https://fonts.googleapis.com/css?family=Quicksand');


body {
    font-family: 'Quicksand', sans-serif;
    background-color: #fafafa;
    vertical-align: middle;
}



.container {
    width: 25em;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

    margin-top: 10%;
    
    
}

.form-signin {
    padding-left: 3em;
    padding-right: 3em;

} 


.text-line {
    width:100%;
    background-color: transparent;
    color: #aaa;
    font-size: 1.3em;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #bbb 2px;
    padding: 3px 10px;
    margin-top: 0.5em;
    text-align: center;
}



h2 {
    margin-top: 0;
    font-size: 1.3em;
    font-weight: bold;
    color: #777;
}

.top-header {
    left: 0;
    right: 0;
}

.input-icon {
    
}

.user-icon {
    background-color: #eee;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    text-align: center;
    margin: 2em auto;
}

.brain {
    margin-top: 20%;
    width: 4em;
}

button {
    margin-top: 2em;
}
