


page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
/*   border: 2px solid gray; */
  position: fixed; bottom: 100%
} 



/*
.human-body {
position: relative;
display: block;
    height: auto;
    width: 5em;

}


h1 {
    text-align: center;
}

.side-stripe {
    position: absolute;
    left:0;
    top:0;
    bottom: 3cm;
    width: 2cm;
    background-color: lightgray;
    
}

.vertical {
    position: relative;
    top: 40%;
    width:2cm;
    display:inline-block;
    clear: both;
    white-space: nowrap;
}

.side-stripe h3 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.top-form {
    position: absolute;
    top: 2cm;
    right: 2cm;
    width: 6cm;
    height: 3cm;
    background-color: lightgray;
}











.footer {
    position: absolute;
    bottom: 0px;
    border-top: 1px solid lightgray;
    margin: 0;
    left: 5px;
    right: 5px;
}

.logo {
    position: relative;
    border: none;
    margin: 0 auto;
}

.eu-customize {
    padding-top: 30px;
    width: 110px;
}

.fav-customize {
    padding-top: 20px;
    width: 165px;
}

.ntis-customize {
    padding-top: 12px;
    width: 130px;
}

.mi-customize {
    padding-top: 20px;
    width: 100px;
}

.kiv-customize {
    padding-top: 50px;
    width: 120px;
}

.phone {
    height: 25em;
}
*/
