/* Seda #9EBDAD */
/* Zelena #83C327 */
/* Cerna #1F1611 */
/* Cervena #DA251C */
/* Bila #FEFFFD */



body {
	margin: 0px;
	padding: 0px;
	background-color: #83C327;
	color:#9EBDAD;
}

.affix {
      top: 0;
      width: 84%;
}

.navbar {
	/*color: #F7FFF0;*/
	background-color: #9EBDAD;
	margin-top: 0px;
	margin-bottom: 0px;
	border-style: solid;
	border-width: 0px;
	border-color: #1F1611;
	border-radius: 0px 0px 5px 5px;
	z-index: 99;
	font-size: 17px;
	box-shadow: 0px 0px 8px #1F1611;
	
}

.navbar-default .navbar-nav>li>a {
	color:  #F7FFF0;
}

.navbar-default .navbar-brand {
	color: #F7FFF0;
}

.navbar-nav li a {
    color:  #1F1611;
	padding-bottom: 5px;
}

.navbar-nav li a:hover {
	border-width: 0px 0px 2px 0px;
	border-color: #1F1611;
	border-style: solid;
	color: #1F1611;
}

.navbar-nav li a:active {
    color:  #F7FFF0 !important;
	border-width: 0px 0px 2px 0px;
	border-color: #1F1611;
	border-style: solid;
}

.dropdown-menu {
	background-color: #9EBDAD;
}

.nav.navbar-nav.navbar-right a {
	border-width: 0px;
}

.navbar-nav .dropdown-menu li a {
	color: #1F1611;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: #9EBDAD;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	border-width: 0px;
}

.centered-content {
	left: 8%;
	right: 8%;
	position: relative;
	background-color: #FEFFFD;
	height: calc(100% - 130px);
	width: 84%;
	box-shadow: 1px 1px 8px #1F1611;
	border-radius: 0px 0px 10px 10px;
}

section.container-fluid {	
	padding-left: 8%;
	padding-right: 8%;
	margin-left: 0px;
	position: relative;
	background-color: #FEFFFD;
}
    
article {
	margin-top: 50px;
	margin-left: 5%;
	padding-bottom: 8%;
	position: relative;
	height: 100%;
	color: #1F1611;
}

footer {
	position: relative;
    color: #1F1611;
    padding: 15px;
	bottom: -80px;
}

header.container-fluid {
	width: 100%;
	height: 120px;
	right: 0px;
	left: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 35px;
	background-color:  #9EBDAD;
	font-size: 35px;
	font-family: sans-serif;
	border-width: 0px 1px 1px 1px;
	border-color: #1F1611;
}

header.container-fluid a {
	color: #F7FFF0;
	text-decoration: none;
}

.navbar-default .navbar-toggle .icon-bar:hover { /* Nevím, jak vyjádřit....??? */
	background-color: #777777;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #F7FFF0;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #F7FFF0;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	color: #1F1611;
}

.navbar-nav .dropdown-menu li a:hover {
	color: #9EBDAD;
	border-width: 0px;
	background-color: #F7FFF0;
}

@media (max-width: 767px) {
	section.container-fluid {
		margin-left: 0px;
	}
	
	article {
		margin-left: 5%;
		margin-right: 5%;
	}
	
	.sidenav {
    	display: none;
    }
}

@media (max-width: 432px) {
	header.container-fluid a {
		font-size: 25px;
	}
}

@media (max-width: 323px) {
	header.container-fluid a {
		font-size: 20px;
	}
}
