/*
 * Base structure
 */

@import url('https://fonts.googleapis.com/css?family=Quicksand');

:root {
    --blue: #57a5bf;
    --lighter-blue: #70bfd9;
    --light-grey: #fafafa;
    --grey: #AAA;
    --green: #57BF71;
} 



/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    font-family: 'Quicksand', sans-serif;
/*     background-color: var(--light-grey); */
background-color: white;
    color: #555;
}


/*
 * Global add-ons
 */

/*
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
*/

/*
 * Top navigation
 * Hide default border to remove 1px line.
 *
.navbar-fixed-top {
  border: 0;
}*/


.nav a {
    color: #AAA;
    background-color: var(--light-grey);
    font-family: 'Quicksand', sans-serif;
}

.nav a:hover {
    color: black;
    background-color: red;
}

.nav li:hover {
    background-color: var(--light-grey);
    
}

.navbar-custom {
    /*background-color: transparent;*/
    border-style: none;
    box-shadow: 0px 1px 10px lightgrey;
    font-size: 1.2em;
}


/*
 * Main content
 */

.main {
    font-family: 'Quicksand', sans-serif;
    margin-top: 5em;
    padding: 2em;
   background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}


@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
  font-family: 'Quicksand', sans-serif;
  color: var(--blue);
}





.my-color {
    background-color: var(--light-grey);
}

nav a {
    color: var(--grey); 
    display: inline-block;
    width: auto;
}


.img-circle {
    border-radius: 50%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
/*
    background-color: #1e2e2e;
*/
    background-color: rgba(250,250,250,1);
    
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
}

.sidenav a {
    font-family: 'Quicksand', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.4em;
    color: #AAA;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: white;
    background-color: lightgray;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/* 
 * WIZZARD  
 */

.wizzard {
	/*background-color: white;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	float: left;
	width: 100%;
}

.wizzard-head {
	width: 100%;
}

.wizzard form {
	margin-top: 2em;
}

.wizzard-head h1 {
	margin-top: 0.2em;
	color: #57a5bf;
}

.wizzard-img {
	max-width: 4em;
	max-height: 4em;
}

.blue-input {
	background-color: transparent;
	border: 2px solid #57a5bf;
	border-radius: 5px;
	height: 2.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

.blue-button {
	background-color: transparent;
	border: 2px solid #57a5bf;
	/*display: inline-block;*/
	text-align: center;
	color: #57a5bf;
	padding-left: 2.0em;
	padding-right: 2.0em;
	height: 3em;
	transition: all 0.5s;
	/*cursor: pointer;*/
	font-weight: bold;
	border-radius: 5px;
	
}

.blue-button-fix {
margin-top: -0.15em;
}

.blue-button:hover {
	color:white;
	background-color: #57a5bf;
}

.small-button {
    height: 2.5em;
}

.margin-button {
	margin-top: 2em;
}

.top-buffer {
    margin-top: 1em;
}

.content-controls {
    float: right;
    text-align: right;
    margin-top: 0;
}

.label-blue {
    background-color: #57a5bf;
    color: white;
    font-size: 1.2em;
}
