body {
	font-family: 'PT Sans', sans-serif;
	color: #3C3C3C;
	display: flex;
	display: -webkit-flex;
}

.container {
	margin: auto;
	display:flex;
	display: -webkit-flex;
	overflow: hidden;
	/*position: absolute;*/
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center; /*centers items on the line (the x-axis by default)*/
	align-items: center; /*centers items on the cross-axis (y by default)*/
		background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(white, #e8e8e8); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(white, #e8e8e8); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white, #e8e8e8); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white, #e8e8e8); /* Stanvalue="Submit"dard syntax */
}

.login-box {
	margin: auto;
	background-color: white;
	width: 25em;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255, 1.0);
	-moz-box-shadow:    0px 0px 10px 0px rgba(255,255,255, 1.0);
	box-shadow:         0px 0px 10px 0px rgba(255,255,255, 1.0);
	
}

.reg-title {
	background-color: #77C9D4;
	height: 3em;
	max-width: 100%;
	display:flex;
	display: -webkit-flex;
	flex-direction: columnn;
	align-items: center;
	padding: 0 1em 0 1em;
	font-family: 'PT Sans', sans-serif;
	font-weight: 200;
	color: white;
	text-shadow: 0 0 3px #cccccc;
}

.reg-title h3 {
	padding-left: 0.6em;
}

form {
	padding:2em 2em 1em 2em;
	

    max-width: 100%;
}

.line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;   
	align-items: stretch;
	padding-bottom: 0.8em;
}



input[type=text]:focus {
	border-color: #bbb;
}
input[type=text] {
	padding:0;
	margin:0; 
	border: none;
	background-color: white;
	height: 2em;
}

.field {
	border: solid 1px;
	border-color: lightgray;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*background-color: blue;*/
	height: 2em;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(50,50,50, 0.3);
	-moz-box-shadow:    0px 0px 3px 0px rgba(50,50,50, 0.3);
	box-shadow:         0px 0px 3px 0px rgba(50,50,50, 0.3);
}

i {
	position: relative;
	height: 1em;
	width:1.2em;
    left: 5px;
    padding-right: 3px;
    color: #77C9D4;
    /*border-right: solid 2px;*/
}

.btn {
	display: flex;
	display: -webkit-flex;
	margin-left: auto;
	color: white;
	font-weight: bold;
	background-color: #57BC90;
	border: solid 1px;
	border-color: rgba(50,240,150, 0.9);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0.8em;
	-webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.3);
}

.btn:hover {
	-webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.5);
}
 
