
/*convex square*/
.convex {
    padding: 1em;
    position:relative;
}

.convex:after,
.convex:before {
    content: '';
    position: absolute;
}
.convex:after {
    border-radius: 10% / 50%;
    bottom: 0;
    left: -10%;
    right: -10%;
    top: 0;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}
.convex:before {
    border-radius: 50% / 10%;
    bottom: -10%;
    left: 0;
    right: 0;
    top: -10%;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    z-index: 1000;
}

.convex:hover {
	background-color: grey;
}

.cx {
	border-radius: 20px/50px;
}

.cx:after {
	border-radius: 50px/20px;
}

form input {
	/*background-color: #888;*/
}

.button {
	font-size: 1em;
	padding: 10px;
	color: #aaa;
	border: 2px solid #06D85F;
	/*border-radius: 20px/50px;*/
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
}

.button:hover {
	background: #06D85F;
	color: #fff;
}

.egg {
	border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
}

.rounded-button {
	font-size: 1em;
	padding: 10px;
	color: #aaa;
	border: 2px solid #06D85F;
	border-radius: 10% / 50%;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
}



.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(200, 200, 200, 0.2);
	transition: opacity 500ms;
	/*visibility: hidden;*/
	display: none;
	opacity: 1;
	z-index: 1000;
}
/*
.overlay:target {
	visibility: visible;
	opacity: 1;
}
*/
.popup {
	margin: 100px auto;
	padding: 20px;
	background: #fff;
	border-radius: 3px;
	width: 40%;
	min-height: 20em;
	position: relative;
	transition: all 5s ease-in-out;
}

.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover {
	color: #06D85F;
}

.popup h1 {
	text-align: center;
	font-family: Tahoma, Arial, sans-serif;
	color: #06D85F;
	margin: 80px 0;
}

.popup .content {
	position: relative;
	max-height: 50%;
	overflow: auto;
}

@media screen and (max-width: 700px){
	.box{
		width: 70%;
	}

	.popup{
		width: 70%;
	}
}

div #stateDiv {
    position: absolute;
	/*botom:0;*/
	width: 100%;
    display: block;
}
