table {
	border-collapse: collapse;
	width: 100%;
	border-spacing: 10px;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

tr:hover {
	background-color: #f5f5f5;
}

/* measured */

.content-list {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.content-list-row-header {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 40px;
    padding: 0 14px 0 0;
    /*-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;*/
    margin: 0 0 1px 0;
    position: relative;
    line-height: normal;
    /*background-color: #fff;*/
    color: #000;
    cursor: pointer;
}

.content-list .column {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}

.column.delete {
    width: 20%;
    text-align: center;
}

/* Tabs */
article.tabs
{
	position: relative;
	display: block;
	width: 45em;
	height: 35em;
	margin-top: 2em;
}

article.tabs section
{
	position: absolute;
	display: block;
	top: 1.8em;
	left: 0;
	height: 32em;
	width: 100%;
	padding: 10px 20px;
	/*background-color: #ddff95;*/
	/*border-radius: 5px;*/
	/*box-shadow: 0 3px 3px rgba(0,0,0,0.1);*/
	z-index: 0;
}

article.tabs section:first-child
{
	z-index: 1;
}

article.tabs section h3
{
	position: absolute;
	width: 120px;
	height: 1.8em;
	top: -1.8em;
	left: 10px;
	font-size: 1em;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #888;
	background-color: #ddff95;
	border-radius: 5px 5px 0 0;
}

article.tabs section h3 a
{
	display: block;
	width: 100%;
	line-height: 1.8em;
	text-align: center;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}

article.tabs section:target
{
    background-color: #f5f5f5;

}

article.tabs section:target h3
{
	color: #555;
	background-color: #fff;
	z-index: 2;
}

article.tabs section,
article.tabs section h3
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.add_category {
	position: relative;
	top: -60px;
	left: 60px;
	padding: 4px 4px 8px;
	color: #888;
	background-color: #ddff95;
	border-radius: 5px 5px 0 0;
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
/*
.tabs_sec {
	border: solid 1px black;
}
*/
.cancel_category {
	position: absolute;
	width: 7px;
	height: 7px;
	top: -28px;
	z-index: 3;
	opacity: 0.0;
}

article.tabs section h3:hover + .add_category,
.add_category:hover, .cancel_category
{
    opacity: 1.0;
}

.after_next {
	position: relative;
	float: left;
	padding: 1em;
	background-color: #ddff95;
	/*border-radius: 5px 5px 5px 5px;*/
}

.show_all {
	position: relative;
	float: right;
	margin-right: 2em;
}
