/* -------------------------------- 

Primary style

-------------------------------- */
/*
body {
  font-size: 100%;
  font-family: "Droid Serif", serif;
  color: #7f8c97;
}
*/

 @import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    font-family: 'Quicksand', sans-serif;
}

a {
  color: #acb7c0;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

img {
  max-width: 100%;
}

h1, h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

section {
	/*position: absolute;*/
	z-index: 1;
}

.timeline {
	/*margin: 30px 0 0 0;*/
	padding: 0;
	list-style: none;
	position: relative;
	width:35em;
} 

/* vertikalni cara timeline*/
.timeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 7px;
	background: #57a5bf;
	left: 50px;
	margin-left: -10px;
	border-radius: 10px;
}

.timeline > li {
	position: relative;
}

.date {

}

/* Right content */
.timeline > li .tmlabel {
	margin: 0 0 15px 100px;
	background: #f2f2f2;
	color: #888;
	padding: 0em 1em 1em 1em;
	font-size: 1em;
	font-weight: 300;
	position: relative;
	border-radius: 5px;
}

.timeline > li .tmlabel > h1, h2, a, a:hover {
    padding-top: 0.2em;
    color: #57a5bf;
    text-decoration: none;
}


/* The triangle */
.timeline > li .tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #f2f2f2;
	border-width: 10px;
	top: 30px;
}

/* The icons */
.timeline > li .tmicon {
	width: 15px;
	height: 15px;
	font-family: 'Quicksand', sans-serif;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 30px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: white;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #57a5bf;
	text-align: center;
	left: 36px;
	top: 30px;
}

.tm_new_measure {
	margin: 0 0 5em 100px;
	padding: 0.5em 0.5em 0.5em 0.5em;
	background-color: lightgreen;
	border-radius:5px;
	color: white;
	font-weight: bold;
}

.tm_new_equipment {
	margin: 0 10px 10px 0px;
	padding: 0.5em 0.5em 0.5em 0.5em;
	background-color: lightgreen;
	border-radius:5px;
	color: white;
	font-weight: bold;
}

.icon {
	color: white;
}

.hidden {
	display: none;
}
