 @import url('https://fonts.googleapis.com/css?family=Quicksand');
 
:root {
    --blue: #57a5bf;
    --lighter-blue: #70bfd9;
    --light-grey: #fafafa;
    --grey: #AAA;
    --green: #57BF71;
}  
 
 
body, html {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    color: #666666;
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}


.parallax {
    /* The image used */
    background-image: url('parallax2.jpg');
    background-color: white;

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}







.first-page {
    background-color: #fafafa;
}


.run {

    width: 10%;
    position:absolute;
    top: 50%;
    left: 38%;
    
}

.apple {

    width: 10%;
    position:absolute;
    top: 15%;
    left: 15%;
    
}

.bike {

    width: 10%;
    position:absolute;
    top: 20%;
    left: 40%;
    
}

.drink {

    width: 10%;
    position:absolute;
    top: 60%;
    left: 20%;
    
}

.sleep {

    width: 10%;
    position:absolute;

    top: 50%;
    left: 55%;
    
}



.content-customize {
    padding-left: 6em;
    padding-right:6em;
}

.text-strip h1 {
	text-align: center;
	padding-top: 1em;
}

.text-strip p {

    padding-top: 2em;
    font-size: 1.4em;
    text-align: justify;
}


.green {
    color: #33cc33;
}

.violet {
    color: #cc0066;
}

.red {
    color: #e60000;
}

.blue {
    color: #9AD0D7;
}

.button-icons {
    padding: 2em;
    
    
}

.button-icons-bg {
	background-color: #F2F2F2;
}

.button-icons p {
    padding-top: 0.8em;
    text-align: left;
    font-size: 1.4em;
}

.button-icons a {
    font-size: 10.0em;
}

.mobile {
    background-color: #F2F2F2;
    height: 20em;
}

.screenshots {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: white;
    font-size: 1.4em;
}

.screenshots h4 {
    font-size: 1.6em;
    font-weight: normal;
}

.screenshots p {
    text-align: justify;
}

.filler {
    height: 25em;
    background-color: #36525b;
}


.footer {
    padding: 2em;
    background-color: white;
    color: white;
    text-align: center;
    border-top: 1px solid lightgray;
    box-shadow: 0px 1px 5px grey;
}


.customize-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 0;
    font-size: 0.6em;
}

.customize-card:hover, .customize-card:hover a {
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.logo {
    border: none;
    
}

.eu-customize {
    padding-top: 1.9em;
    width: 8em;
}

.fav-customize {
    padding-top: 1em;
    width: 12em;
}

.ntis-customize {
    width: 11em;
}

.mi-customize {
    padding-top: 1.8em;
    width: 7em;
}

.kiv-customize {
    padding-top:3.4em;
    width: 10em;
}

.phone {
    height: 25em;
}

.phone-text {
    padding-top: 3em;
    width: 20em;
}

.screen {
    margin-top: 10em;
    height: 25em;
}

.screens {
    margin: 4em auto;
    width: 70%;
}


.web-text {
    padding-top: 3em;
    text-align: justify;
    text-justify: inter-word;
}

.blue-input {
	background-color: transparent;
	border: 2px solid #57a5bf;
	border-radius: 5px;
	height: 3em;
	margin-top: 12em;
}

.blue-button {
  background-color: transparent;
  border: 2px solid #57a5bf;
  display: inline-block;
  text-align: center;
  color: #57a5bf;
  padding-left: 2.0em;
  padding-right: 2.0em;
  height: 3em;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.blue-button-fix {
margin-top: -0.15em;
}

.blue-button:hover {
color:white;
background-color: #57a5bf;
}

.my-button span {

  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  
}

.my-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  /*right: -20px;*/
  transition: 0.5s;
}

.my-button:hover span {
color:white;
  padding-right: 0.8em;
}

.my-button:hover span:after {
color:white;
  opacity: 1;
  right: 0;
}

.my-button {
    background-color: transparent;
    border: 2px solid #57a5bf;
    
  display: inline-block;
  text-align: center;
  color: #57a5bf;
  padding: 0.5em 2.0em 0.5em 2.0em;
  transition: all 0.5s;
  cursor: pointer;
  
  border-radius: 5px;
}

.my-button:hover {
    background-color: #57a5bf;
}

.navbar-custom {
    /*background-color: transparent;*/
    border-style: none;
    box-shadow: 0px 1px 10px lightgrey;
    font-size: 1.2em;
}

@keyframes nav-change-up {
    from {background-color: #57a5bf;}
    to {background-color: #e6efdc;}
}

@keyframes nav-change-down {
    from {background-color: #e6efdc;}
    to {background-color: #57a5bf;}
}

.nav-up {
/*
    animation-name: nav-change-up;
    animation-duration: 2s;
    background-color: #fafafa;
    */
}

.nav-down {

    animation-name: nav-change-down;
    animation-duration: 2s;
    background-color: #57a5bf;
    /*font-size: 1.0em;*/
}


.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(2.1); }



.fa {
    padding: 20px;
    font-size: 1em;
    width: 4em;
    height: 4em;
    text-align: center;
    text-decoration: none;
    color: white;
}


.fa:hover {
    opacity: 0.7;
    text-decoration:none;
    color:white;
}

.fa-facebook {
    background-color: #3B5998;
}

.fa-google {
    background-color: #dd4b39;
}

.fa-linkedin {
    background-color: #007bb5;
}

.fa-android {
    background-color: #a4c639;
}

.fa-researchgate {
    background-color: #0cb;
}

.sticky-social {
   left: 0;
   position: fixed;
   top: 50%;
}

.sticky-social ul {
   list-style: none;
   margin: 0;
   padding: 0;
}


.paragraphs {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count:    3; /* Firefox */
	column-count:         3;
  	-webkit-column-gap:   3em; /* Chrome, Safari, Opera */ 
	-moz-column-gap:      3em; /* Firefox */
	column-gap:           3em;
	column-rule-color: #ccc; /* Optional */
	column-rule-style:solid; /* Optional */
	column-rule-width: 1px; /* Optional */
	text-align: justify; /* Optional */
}

.measured {
    position: absolute;
    top: 80%;
    left: 70%;
    border: 3px solid #57a5bf;
    padding: 0.8em;
    font-size: 1.6em;
    color: #57a5bf;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.5s;
}



.measured:hover {
    color: white;
    background-color: #57a5bf;
    text-decoration: none;
}

/***************************************/
.enter-code {

    padding-top: 15%;
    text-align: center;
}


.input-code {
    background-color: #DDDDDD;
    border: none;
    padding: 0.8em;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
}

.submit-code {
    margin-left: 2em;
}


:-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #8A8A8A;
    font-weight: bold;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #AAA;
   opacity:  1;
   font-weight: bold;
}
:-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #AAA;
   opacity:  1;
   font-weight: bold;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #AAA;
   font-weight: bold;
}

.blue-bg {
    background-color: #57a5bf;
    padding: 0.3em;
    border-radius: 5px;
    color: var(--light-grey);
}

.blue-bg:hover {
    color: white;
    background-color: #70bfd9;
}

.contact {
    padding-top: 3em;
    padding-bottom: 3em;
    margin: 0 auto;
    width: 18em;
}

.lightgray {
    background-color: #fafafa;
}
