{% extends "layout.html" %}

		{% block title %}Measurement{% endblock %}
		{% block includes %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ url_for('static', filename='popup.css') }}"> <!-- Resource style -->
            <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}"> <!-- Resource style -->
            <link rel="stylesheet" href="{{ url_for('static', filename='timeline.css') }}"> <!-- Resource style -->
            <link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
            <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
            <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
            <script src="{{ url_for('static', filename='js/show_div.js') }}"></script>
		{% endblock %}

		
		{% block content %}
		
<section>
	<h1 class="page-header">Measurement</h1>
    <form action="{{ url_for('measurement.export') }}" method="post">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Town</th>
                <th>Data</th>
                <th>Stats</th>
                <th style="text-align:center; vertical-align:middle;">Export</th>
                <th>Delete</th>
            </tr>
            {% for d in data %}
            <tr>
                <td>{{d.institution}}</td>
                <td>{{ d.begin.strftime('%d/%m/%y') }}</td>
                <td>{{ d.town }}</td>
                <td><a href="{{ url_for('measurement.project_persons', measurementID=d.id) }}">data</a></td>
                <td><a href="{{ url_for('measurement.stats', measurementID=d.id) }}">view</a></td>
                <td style="text-align:center; vertical-align:middle;"><input type="checkbox" name="measurement" value="{{ d.id }}" /></td>
                <td><a href="#"><span class="fa fa-trash"></span></a></td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align:center; vertical-align:middle;"><input type="submit" value="Download" class="btn"></td>
                <td></td>
            </tr>
        </table>
    </form>	
	</section> <!-- timeline -->
		
{% endblock %}
