{% macro link_to(endpoint, text) -%}
<a href="{{ url_for(endpoint, **kwargs) }}">{{ text|safe }}</a>
{%- endmacro %} 

{% extends "layout.html" %}

{% block title %}Projekt{% endblock %}
{% block content %}

{% for d in data %}
<section>
	<h1 class="page-header">{{ d.institution }}</h1>
    <a href="{{ url_for('measurement.new_data', measurement_id=d.id) }}" title="Go">Go measure</a>
</section>
{% endfor %}

{% endblock %}
 
