{% extends "layout.html" %} 


{% block content %}

    <h1>Excel file upload (csv, tsv, csvz, tsvz only)</h1>
    <form action="{{ url_for('measurement.importData3') }}" method=post enctype=multipart/form-data>
    <input type="text" name="measurement_id"><br>
    <input type=file name=file>
    <input type=submit value=Upload>
   </form>

{% endblock %}
