{% extends "layout.html" %}

		{% block title %}Measurement{% endblock %}
		{% block includes %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='popup.css') }}"> <!-- Resource style -->
		<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}"> <!-- Resource style -->
		
        <style>
        
        h4 {
            color: #57a5bf;
        }
        
        .files {
            width: 60%;
        }
        
        .file {
            text-align: center;
            color: #aaa;
            
        }
        
        .file > a {
            color: #aaa;
        }
        
        .file > a:hover {
            color: #57a5bf;
            text-decoration: none;
        }
        
        .file-icon {
            font-size: 4em;
            color: #aaa;
        }
        
        .file-icon:hover {
            color: #57a5bf;
        }
        
        .codes {
            padding: 1.3em;
            font-family: monospace;
            color: #aaa;
            background-color: #f3f3f3;
            overflow: auto;
            max-height: 30em;
            margin-top: 2em;
            margin-bottom: 2em;
        }
        
        .inputLength {
            width: 10em;
            margin-bottom: 0.6em;
        }
        
        
        </style>
        
        {% endblock %}

		{% block content %}
		<h1 class="page-header">Project - {{ data.institution }}</h1>
        
		
        <h4>Details</h4>
        <span class="fa fa-map-marker"> {{data.street}} {{data.number}} {{data.town}}</span><br>
        <span class="fa fa-calendar-o"> {{data.begin}}</span>


        <h4>Person Codes</h4>

        <form action="{{ url_for('measurement.planning_detail', id_measurement=data.id) }}" method=post>
        
        {{ form.hidden_tag() }}
        {{ form.codeNumbers(class_="inputLength blue-input", placeholder="Number of codes") }} <br>
        {{ form.generate(class_="small-button blue-button") }}
        
        </form>
        
        <div class="codes">
            {% for code in codes %}
                {% if loop.index0 % 6 == 0 %}
                    <div class="row">
                {% endif %}
                <div class="col-md-2">{{ code }}</div>
                {% if (loop.index0 + 1) % 6 == 0 and loop.index0 != 0 or loop.index == codes|length %}
                    </div>
                {% endif %}
            {% endfor %}
            
            
        </div>
        
        <h4>Project Documents</h4>
        
        <div class="row files">
        <div class="col-md-2 file" ><a href="#" class="file"><span class="fa fa-qrcode file-icon"></span><br>Stations</a></div>
        <div class="col-md-2 file" ><a href="{{ url_for('qrgenerator.generateConditionPDF') }}" class="file"><span class="fa fa-file-text-o file-icon"></span><br>Conditions</a></div>
        <div class="col-md-2 file" ><a href="#" class="file"><span class="fa fa-file-image-o file-icon"></span><br>Paper Form</a></div>
        <div class="col-md-2 file" ><a href="#" class="file"><span class="fa fa-file-excel-o file-icon"></span><br>Questionare</a></div>
        <div class="col-md-4"></div>
        </div>
        
		
		{% endblock %}
