{% extends "layout.html" %}

	{% block title %}Měření{% endblock %}
		{% block includes %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='popup.css') }}"> <!-- Resource style -->
		<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}"> <!-- Resource style -->
		<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
        <!--<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>-->
        <script src="{{ url_for('static', filename='js/show_div.js') }}"></script>
	{% endblock %}

	{% block content %}

		<div id="show_popup" class="overlay">
			<div class="popup">
				<h2>Detail proběhlého měření</h2>
				<a class="close" href="#" onclick="unloadShowDetail()">&times;</a>
				<div class="content">

				</div>
			</div>
		</div>


		<h1 class="page-header">Proběhlá měření</h1>
		
		<table>
			<tr>
				<th>Instituce</th>
				<th>Datum</th>
				<th>Město</th>
				<th class="column delete">Smazat</th>
			</tr>

			{% for d in data %}
			<tr>
				<td class="column institution"><a href="#" title="Ukázat detail" onclick="loadShowDetail()">{{d.institution}}</a></td>
				<td class="column date">{{ d.begin.strftime('%d/%m/%y') }}</td>
				<td class="column city">{{ d.town }}</td>
				<td class="column delete"><a href="{{ url_for('measurement.remove_measurement', id_remove=d.id) }}"><span class="fa fa-trash"></span></a></td>
			</tr>
			{% endfor %}
		</table>
		
	{% endblock %}
