{% extends "layout.html" %}

		{% block title %}Naměřené osoby{% endblock %}
		{% block includes %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='popup.css') }}"> <!-- Resource style -->
		<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}"> <!-- Resource style -->
		{% endblock %}

		{% block content %}
		<h1 class="page-header">Measurement</h1>
		
		<table class="table">
			<tr>
				<th>Person ID</th>
				<th>Date</th>
				<th>Measurement</th>
				<th>Data</th>
				<!--<th>Editovat</th>-->
				<th>Delete</th>
			</tr>
			{% for d, n in data %}
			<tr>
				<td>{{d.personHash}}</td>
				<td>{{n.begin}}</td>
				<td>{{n.institution}}</td>
				<td><a href="{{ url_for('measurement.showPersonDetail', hexID=d.personHash) }}">data</a></td>
				<!--<td><a href="{{ url_for('measurement.edit_measurement', id_edit=d.id) }}"><span class="fa fa-pencil"></span></a></td>-->
				<td><a href="{{ url_for('measurement.remove_measurement', id_remove=d.id) }}"><span class="fa fa-trash"></span></a></td>
			</tr>
			{% endfor %}
		</table>
		
		{% endblock %}
