{% macro link_to(endpoint, text) -%}
<a href="{{ url_for(endpoint, **kwargs) }}">{{ text|safe }}</a>
{%- endmacro %} 


{% macro render(form) -%}
<fieldset>
{% for field in form %}
{% if field.type in ['CSRFTokenField', 'HiddenField'] %}
  {{ field() }}
{% else %}
  <div class="form-group {% if field.errors %}error{% endif %}">
    <!--{{ field.label }}-->
    <div class="input">
      {% if field.name == "body" %}
        {{ field(rows=10, cols=40) }}
      {% elif field.name == "submit" %}
        {{ field() }}
      {% else %}
        {{ field(class_='hiddenElement') }}
      {% endif %}
      <!--{% if field.errors or field.help_text %}
        <span class="help-inline">
        {% if field.errors %}
          {{ field.errors|join(' ') }}
        {% else %}
          {{ field.help_text }}
        {% endif %}
        </span>
      {% endif %}-->
    </div>
  </div>
{% endif %}
{% endfor %}
</fieldset>
{% endmacro %}



{% extends "layout.html" %}

{% block title %}Projekt{% endblock %}
{% block includes %}
<style>

.hiddenElement {
    
    display: none;
}

</style>
{% endblock %}
{% block content %}


<form id="form"></form>

<form action="{{ url_for('measurement.new_data', measurement_id = measurementID) }}" method="post" onsubmit="insertData();">
{{ render(form) }}
</form>




<script>
var form;
var inputStrings = [];
var experimentNames = [];
var output = [];
var radioGroup = 0;

function data(id) {
		this.id = id;
		this.values = [];
}

function showForm() {
	form = document.getElementById('form');
	{% for d in data %}

    inputStrings.push('{{ d |tojson|safe }}');

    {% endfor %}
    
    {% for n in names %}
    
    experimentNames.push('{{ n }}');
    
    {% endfor %}
	
	var name = document.createElement('h4');
	var t = document.createTextNode('Person ID');
	name.appendChild(t);
	
	var inputElement = document.createElement('input');
	inputElement.setAttribute('type','text');
	inputElement.setAttribute('id', 'person_qr');
	
	var br = document.createElement('br');
	
	form.appendChild(name);
	form.appendChild(inputElement);
	form.appendChild(br);
	
	var len = inputStrings.length;
	for(var i = 0; i < len; i++) {
		showExperiment(experimentNames[i], inputStrings[i], i);
	}
	
	//var button = document.createElement('button');
	//button.setAttribute('type', 'button');
	//button.setAttribute('onclick', 'hotovo();')
	//var b = document.createTextNode('Uložit');
	//button.appendChild(b);
	//form.appendChild(button);
}

function showExperiment(expName, inputString, experimentIndex) {
	var heading = document.createElement('h3');
	var t = document.createTextNode(expName);
	heading.appendChild(t);
	form.appendChild(heading);
	
	var input = JSON.parse(inputString);
	var len = input.length; //length of JSON array
	
	output[experimentIndex] = new Array(len);
	
	for(var i = 0; i < len; i++) {
		
		ex = new data(i);
		output[experimentIndex][i] = ex;
		
		var formType = input[i].formType;//formType from JSON
		switch(formType) {
			case "integer":
				addInteger(input[i], experimentIndex);
				break;
			case "float":
				addFloat(input[i], experimentIndex);
				break;
			case "text":
				addText(input[i], experimentIndex);
				break;
			case "checkbox":
				addCheckbox(input[i], experimentIndex);
				break;
			case "radio":
				addRadio(input[i], experimentIndex);
				break;
			case "file":
				addFile(input[i], experimentIndex);
				break;
			default:
				alert("JSON read error!");
		}
	}
}


function addInteger(input, experimentIndex) {
	var name = document.createElement('h4');
	var text = input.name;
	if(input.units != '') text += ' [' + input.units + ']';
	var t = document.createTextNode(text);
	name.appendChild(t);
	
	var inputElement = document.createElement('input');
	inputElement.setAttribute('type','number');
	inputElement.setAttribute('step','1');
	inputElement.setAttribute('placeholder', input.formLabels[0]);
	inputElement.setAttribute('id', 'experiment' + experimentIndex + 'input' + input.id + 'item0');
	inputElement.setAttribute('onblur', 'inputChanged('+ experimentIndex + ', ' + input.id + ', ' + 0 + ', "integer"' + ');');
	
	var br = document.createElement('br');
	
	form.appendChild(name);
	form.appendChild(inputElement);
	form.appendChild(br);
}

function addFloat(input, experimentIndex) {
	var name = document.createElement('h4');
	var text = input.name;
	if(input.units != '') text += ' [' + input.units + ']';
	var t = document.createTextNode(text);
	name.appendChild(t);
	
	var inputElement = document.createElement('input');
	inputElement.setAttribute('type','number');
	inputElement.setAttribute('step','any');
	inputElement.setAttribute('placeholder', input.formLabels[0]);
	inputElement.setAttribute('id', 'experiment' + experimentIndex + 'input' + input.id + 'item0');
	inputElement.setAttribute('onblur', 'inputChanged('+ experimentIndex + ', ' + input.id + ', ' + 0 + ', "float"' + ');');
	
	var br = document.createElement('br');
	
	form.appendChild(name);
	form.appendChild(inputElement);
	form.appendChild(br);
}

function addText(input, experimentIndex) {
	var name = document.createElement('h4');
	var t = document.createTextNode(input.name);
	name.appendChild(t);
	
	var inputElement = document.createElement('input');
	inputElement.setAttribute('type','text');
	inputElement.setAttribute('placeholder', input.formLabels[0]);
	inputElement.setAttribute('id', 'experiment' + experimentIndex + 'input' + input.id + 'item0');
	inputElement.setAttribute('onblur', 'inputChanged('+ experimentIndex + ', ' + input.id + ', ' + 0 + ', "text"' + ');');
	
	var br = document.createElement('br');
	
	form.appendChild(name);
	form.appendChild(inputElement);
	form.appendChild(br);
}

function addCheckbox(input, experimentIndex) {
	var name = document.createElement('h4');
	var t = document.createTextNode(input.name);
	name.appendChild(t);
	
	var len = input.formLabels.length;
	
	form.appendChild(name);
	for(var i = 0; i < len; i++) {
		var label = document.createElement('label');
		var t = document.createTextNode(input.formLabels[i]);
		label.setAttribute('for', '');
		label.setAttribute('id','');
		label.appendChild(t);
		
		var inputElement = document.createElement('input');
		inputElement.setAttribute('type','checkbox');
		inputElement.setAttribute('id', 'experiment' + experimentIndex + 'input' + input.id + 'item' + i)
		inputElement.setAttribute('onblur', 'inputChanged('+ experimentIndex + ', ' + input.id + ', ' + i + ', "checkbox"' + ');');
		
		var br = document.createElement('br');
		form.appendChild(inputElement);
		form.appendChild(label);
		form.appendChild(br);
		
		createItem(experimentIndex, input.id);
	}
}

function addRadio(input, experimentIndex) {
	var name = document.createElement('h4');
	var t = document.createTextNode(input.name);
	name.appendChild(t);
	
	var len = input.formLabels.length;
	form.appendChild(name);
	for(var i = 0; i < len; i++) {
        var label = document.createElement('label');
		var t = document.createTextNode(input.formLabels[i]);
		label.setAttribute('for', '');
		label.setAttribute('id','');
		label.appendChild(t);
		
		var inputElement = document.createElement('input');
		inputElement.setAttribute('type','radio');
		inputElement.setAttribute('name', 'radiogroup' + radioGroup);
		inputElement.setAttribute('id', 'experiment' + experimentIndex + 'input' + input.id + 'item' + i)
		inputElement.setAttribute('onblur', 'inputChanged('+ experimentIndex + ', ' + input.id + ', ' + i + ', "radio"' + ');');
		inputElement.setAttribute('value', i);
	
		var br = document.createElement('br');
		
		
		form.appendChild(inputElement);
		form.appendChild(label);
		form.appendChild(br);
	}
	
	radioGroup++;
	
	//var br = document.createElement('br');
	
	//form.appendChild(br);
}

function addFile(input, experimentIndex) {
	var name = document.createElement('h4');
	var t = document.createTextNode(input.name);
	name.appendChild(t);
	
	var inputElement = document.createElement('input');
	inputElement.setAttribute('type','file');
	inputElement.setAttribute('id', 'experiment' + experimentIndex + 'input' + input.id + 'item0');
	inputElement.setAttribute('onblur', 'inputChanged('+ experimentIndex + ', ' + input.id + ', ' + 0 + ', "file"' + ');');
	
	var br = document.createElement('br');
	
	form.appendChild(name);
	form.appendChild(inputElement);
	form.appendChild(br);
}

/* Handler text change in text field */
function inputChanged(experimentIndex, idInput, item, inputType) {

	var field = document.getElementById('experiment' + experimentIndex + 'input' + idInput + 'item' + item);
	
	if(inputType == 'checkbox') {
        if(field.checked) {
            //output[experimentIndex][idInput].values.push(1);
            output[experimentIndex][idInput].values[0][item] = 1;
        }
        else {
            //output[experimentIndex][idInput].values.push(0);
            output[experimentIndex][idInput].values[0][item] = 0;
        }
	}
	else if(inputType == 'radio') {
        //output[experimentIndex][idInput].values.push(parseInt(field.value));
        output[experimentIndex][idInput].values[0] = parseInt(field.value);
	}
    else if(inputType == 'integer') {
        //output[experimentIndex][idInput].values.push(parseInt(field.value));
        output[experimentIndex][idInput].values[0] = parseInt(field.value);
	}
    
    else if(inputType == 'float') {
        //output[experimentIndex][idInput].values.push(parseInt(field.value));
        output[experimentIndex][idInput].values[0] = parseInt(field.value);
	}
    
	else {
        //output[experimentIndex][idInput].values.push(field.value);
        output[experimentIndex][idInput].values[0] = field.value;
	}
}

function createItem(experimentIndex, idInput) {
    //output[experimentIndex][idInput].values[0] = 0;
    //output[experimentIndex][idInput].values.push(0);
    if(output[experimentIndex][idInput].values.length == 0) {
        output[experimentIndex][idInput].values.push([0]);
    }
    else {
        output[experimentIndex][idInput].values[0].push(0);
    }
    
}

function insertData() {
        
	var qr = document.getElementById('person_qr');
    
	var code = document.getElementById('person_id');
	code.value = qr.value;
	
	for(var i = 0; i < output.length; i++) {
		var s = JSON.stringify(output[i]);
		field = document.getElementById('field' + i);
		field.value = s;
	}
}

window.onload = showForm;

		</script>
{% endblock %}
 
 
