 {% extends "layout.html" %}
 
 
 
 
{% block content %}

{% for experimentName, experimentData in data %}
<h3>{{ experimentName }}</h3>
<div class="result-table">
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="width: 30%;">Měření</th>
        <th style="width: 70%;">Výsledek</th>
      </tr>
    </thead>
    <tbody>
      
      {% for name, value, unit, type in experimentData %}
      <tr>
        <td style="width: 30%;">{{ name }}</td>
        <td style="width: 70%;">
            {% if type == 'checkbox' %} 
                {% for item in value %}
                    {% if item == 0 %}
                        <span class="glyphicon glyphicon-unchecked"></span>
                    {% elif item == 1 %}
                        <span class="glyphicon glyphicon-check"></span>
                    {% endif %}
                {% endfor %}
                
            {% else %} {{ value }} 
            {% endif %} 
            {{ unit }}</td><!--{{ value }} {{ unit }}</td>-->
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>

{% endfor %}


{% endblock %}
