{% extends "layout.html" %}

		{% block title %}Measurement{% endblock %}
		{% block includes %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ url_for('static', filename='popup.css') }}"> <!-- Resource style -->
            <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}"> <!-- Resource style -->
            <link rel="stylesheet" href="{{ url_for('static', filename='timeline.css') }}"> <!-- Resource style -->
            <link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
            <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
            <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
            <script src="{{ url_for('static', filename='js/show_div.js') }}"></script>
            <script type="text/javascript">
                $(document).ready( showForm );

                $(function() {
                    $("#experimentName").autocomplete({
                        source:function(request, response) {
                            $.getJSON("{{url_for('measurement.name_autocomplete')}}",{
                                qn: request.term, // in flask, "qn" will be the argument to look for using request.args
                            }, function(data) {
                                response(data.matching_results_n); // matching_results from jsonify
                            });
                        },
                        minLength: 1,
                        select: function(event, ui) {
                            console.log(ui.item.value);
                        }
                    });
                });

                $(function() {
                    $("#experimentExecutor").autocomplete({
                        source:function(request, response) {
                            $.getJSON("{{url_for('measurement.executor_autocomplete')}}",{
                                qe: request.term, // in flask, "qe" will be the argument to look for using request.args
                            }, function(data) {
                                response(data.matching_results_e); // matching_results from jsonify
                            });
                        },
                        minLength: 1,
                        select: function(event, ui) {
                            console.log(ui.item.value);
                        }
                    });
                });

            </script>
		{% endblock %}

		
		{% block content %}
		
		<div id="add_popup" class="overlay">
			<div class="popup">
				<h2 id="headline">Schedule a new measurement</h2>
				<a class="close" href="#" onclick="unloadAddPopup()">&times;</a>
				<div class="content">
					
					<form action="{{ url_for('measurement.planning_add') }}" method="post" id="form_add_plan">
                        <div class="before_next">
                            {{ form_add.hidden_tag() }}
                            {{ form_add.institution.label }}
                            {{ form_add.institution }} <br>
                            {{ form_add.begin.label }}
                            {{ form_add.begin(class='datepicker') }} <br>
                            {{ form_add.end.label }}
                            {{ form_add.end(class='datepicker') }} <br>
                            {{ form_add.town.label }}
                            {{ form_add.town }} <br>
                            {{ form_add.street.label }}
                            {{ form_add.street }} <br>
                            {{ form_add.number.label }}
                            {{ form_add.number }} <br>
                        	{{ form_add.add }}

                        </div>
					</form>
					<form action="{{ url_for('measurement.planning_add') }}" method="post" id="form_add_task">
                        <div class="after_next">
							{{ form_task.hidden_tag() }}
                            {{ form_task.experimentName.label }} <br>
                            {{ form_task.experimentName }}
                            <button type="button" class="show_table" id="showAllExperiments" onclick="showExperiments(1)">vše</button> <br>
                            {{ form_task.experimentExecutor.label }} <br>
                            {{ form_task.experimentExecutor }}
							{{ form_task.measurement_id(class='hidden') }}
                            <button type="button" class="show_table" id="showAllExperimenters" onclick="showExperiments(2)">vše</button> <br>
							<button type="submit"><i class="fa fa-plus-square-o"></i></button> <br>
                        </div>
                        <div class="show_all">
                            <table id="show_a">

                            </table>
                        </div>
					</form>
				</div>
                <div id="stateDiv">
                    <p id="stateP"></p>
                </div>
			</div>
		</div>
		

		<div id="edit_popup" class="overlay">
			<div class="popup">
				<h2>Upravit naplánované měření</h2>
				<a class="close" href="#" onclick="closeEdit()">&times;</a>
				<div class="content">
					
					<form action="{{ url_for('measurement.measure_planning') }}" method=post>
						{{ form_edit.hidden_tag() }}
						{{ form_edit.institution_e.label }}
						{{ form_edit.institution_e }} <br>
						{{ form_edit.begin_e.label }}
						{{ form_edit.begin_e }} <br>
						{{ form_edit.end_e.label }}
						{{ form_edit.end_e }} <br>
						{{ form_edit.town_e.label }}
						{{ form_edit.town_e }} <br>
						{{ form_edit.street_e.label }}
						{{ form_edit.street_e }} <br>
						{{ form_edit.number_e.label }}
						{{ form_edit.number_e }} <br>
						{{ form_edit.measure_id(class='hidden') }}
						{{ form_edit.edit }}
					</form>
				</div>
			</div>
		</div>
		
<section>
	<h1 class="page-header">Measurement Planning</h1>
	
	<ul class="timeline">
		<li>
			<a id="add_link" class="tm_new_measure" href="#">Add</a>
		</li>
		
		
		{% for d in data %}
		<li>
			<div class="tmicon"></div>
			<div class="tmlabel">
				<h2><a href="{{ url_for('measurement.planning_detail', id_measurement=d.id) }}">{{ d.institution }}</a></h2>
				<p>
					<span class="fa fa-calendar-o"> Date: </span>
                    <time class="date" datetime="2013-04-11T12:04">{{ d.begin.strftime('%d/%m/%y') }}</time><br>
                    <span class="fa fa-map-marker"> Place:</span> {{ d.town }} {{ d.street }} {{ d.number }}
					
				</p>
                <a href="#" class="label label-success"><span class="fa fa-qrcode"></span></a>
				<a href="#" onclick="showEdit({{ d.id }}, '{{ d.institution }}', '{{ d.town }}', '{{ d.street }}',
					'{{ d.number }}', '{{ d.begin }}', '{{ d.end }}')" title="Edit" class="label label-info"><span class="fa fa-pencil icon"></span></a>
				<a href="{{ url_for('measurement.remove_planned_measurement', id_remove=d.id) }}" title="Delete" class="label label-danger">
					<span class="fa fa-trash icon"></span></a>
			</div>
		</li>
		{% endfor %}
		
	</ul>

	</section> <!-- timeline -->
		
{% endblock %}
