{% extends "layout.html" %}

		{% block title %}Measured Persons{% endblock %}
		{% block includes %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='popup.css') }}"> <!-- Resource style -->
		<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}"> <!-- Resource style -->
		{% endblock %}

		{% block content %}
                <div class="content-controls">
            <span class="label label-blue">AVG time: {{ avgTime }}</span>
        </div>
        
		<h1 class="page-header">Measurement</h1>
		

        
		<table class="table">
			<tr>
				<th>Person ID</th>
				<th>Date</th>
				<th>Measurement</th>
				<th>Data</th>
				<!--<th>Editovat</th>-->
                <th>Process</th>
				<th>Delete</th>
			</tr>
			{% for d, info, percentage, time in data %}
			<tr>
				<td>{{d.personHash}}</td>
                <td> {{ d.date_created.strftime('%d.%m.%Y %-H:%-M:%-S') }} </td>
				<td>{{institution}}</td>
				<td><a href="{{ url_for('measurement.showPersonDetail', hexID=d.personHash) }}">view</a></td>
				<!--<td><a href="{{ url_for('measurement.edit_measurement', id_edit=d.id) }}"><span class="fa fa-pencil"></span></a></td>-->
                <td>
                    {% if info == "Registrated" %}
                    <span class="label label-default">{{ info }}</span></td>
                    
                    {% elif info == "In progress" %}
                    
                    <span class="label label-info">{{ info }} [{{ percentage }} %]</span></td>
                    
                    {% else %}
                    
                    <span class="label label-success">{{ info }} in {{ time }}</span></td>
                    
                    {% endif %}
                
				<td><a href="{{ url_for('measurement.remove_measurement', id_remove=d.id) }}"><span class="fa fa-trash label label-danger"> </span></a></td>
			</tr>
			{% endfor %}
		</table>
		
		{% endblock %}
