{% macro link_to(endpoint, text) -%}
<a href="{{ url_for(endpoint, **kwargs) }}">{{ text|safe }}</a>
{%- endmacro %} 

{% extends "layout.html" %}

{% block title %}Zadávání dat{% endblock %}
{% block includes %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='popup.css') }}"> <!-- Resource style -->
<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}"> <!-- Resource style -->
<script src="{{ url_for('static', filename='js/formViewer.js') }}"></script>

<style>
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    .form {
            width: 30em;
            padding: 20px;
            background-color: #F3F3F3;
            margin: 10px;
    }
</style>
{% endblock %}
{% block content %}
<script>inputStrings.push({{ data | tojson | safe }});</script>
<section>
	<h1>Zadávání dat</h1>
	<form id="form"></form>
</section>
{% endblock %} 
