{% extends "layout.html" %}

    {% block includes %}

    <!--<link rel="stylesheet" href="{{ url_for('static', filename='charts.css') }}"> &lt;!&ndash; Resource style &ndash;&gt;-->

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')
    </script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['bar','corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
           ['Gender', 'Count'],
           ['Men', {{ data["man"] }}],
           ['Women', {{ data["woman"] }}]
        ]);

        var options = {
          width: '100%',
          height: '100%',
          title: 'Gender ratio'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_gender'));

        chart.draw(data, options);
        ///////////////////////////////
        var dataH = google.visualization.arrayToDataTable([
                  ['Decade', 'Count'],
                  ['0-10', {{data["age_decade"]["age_0_10"]}}],
                  ['11-20', {{data["age_decade"]["age_11_20"]}}],
                  ['21-30', {{data["age_decade"]["age_21_30"]}}],
                  ['31-40', {{data["age_decade"]["age_31_40"]}}],
                  ['41-50', {{data["age_decade"]["age_41_50"]}}],
                  ['51-60', {{data["age_decade"]["age_51_60"]}}],
                  ['61-70', {{data["age_decade"]["age_61_70"]}}],
                  ['71-80', {{data["age_decade"]["age_71_80"]}}],
                  ['81-90', {{data["age_decade"]["age_81_90"]}}],
                  ['91+', {{data["age_decade"]["age_91_plus"]}}]
        ]);

        var optionsH = {
            width: '100%',
            height: 400,
            legend: { position: 'none' },
            chart: { title: 'Age Range' },
            bars: 'vertical', // Required for Material Bar Charts.
            axes: {
                x: {
                    0: { label: 'Age'} // Top x-axis.
                },
                y: {
                    0: {  label: 'Number of participants'} // Top x-axis.
                }
            }
            //,bar: { groupWidth: "90%" }
        };

        var histogram = new google.charts.Bar(document.getElementById('histogram_age'));
        histogram.draw(dataH, optionsH);
      }

    </script>

     <script type="text/javascript">
        function displayImage(elem) {
            var image = document.getElementById("canvas");
            if (elem.value == -1) {
                image.src = "{{ url_for('static', filename='img/gender/male-female.png') }}";
            } else if (elem.value == 0) {
                image.src = "{{ url_for('static', filename='img/gender/male.png') }}";
            } else {
                image.src = "{{ url_for('static', filename='img/gender/female.png') }}";
            }
        }
    </script>

    <script type="text/javascript">
        function displayDecade(elem) {
            var decade = document.getElementById("age-change");
            if (elem.value == -1) {
                decade.innerHTML = "NO CATEGORY"
            } else if (elem.value == 0) {
                decade.innerHTML = "0 - 10 YEARS"
            } else if (elem.value == 1) {
                decade.innerHTML = "11 - 20 YEARS"
            } else if (elem.value == 2) {
                decade.innerHTML = "21 - 30 YEARS"
            } else if (elem.value == 3) {
                decade.innerHTML = "31 - 40 YEARS"
            } else if (elem.value == 4) {
                decade.innerHTML = "41 - 50 YEARS"
            } else if (elem.value == 5) {
                decade.innerHTML = "51 - 60 YEARS"
            } else if (elem.value == 6) {
                decade.innerHTML = "61 - 70 YEARS"
            } else if (elem.value == 7) {
                decade.innerHTML = "71 - 80 YEARS"
            } else if (elem.value == 8) {
                decade.innerHTML = "81 - 90 YEARS"
            } else if (elem.value == 9) {
                decade.innerHTML = "90+ YEARS"
            }
        }
    </script>


    {% endblock %}

    {% block content %}

<h1>Statics</h1>

<div class="row">
  <div class="result-table col-md-6">
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="width:70%">Measurement</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Number of measured people:</td>
          <td id="persons_count" value='{{ data["persons_count"] }}'>{{ data["persons_count"] }}</td>
        </tr>
        <tr>
          <td>Men:</td>
          <td id="man" value='{{ data["man"] }}'>{{ data["man"] }}</td>
        </tr>
        <tr>
          <td>Women:</td>
          <td id="woman" value='{{ data["woman"] }}'>  {{ data["woman"] }}</td>
        </tr>
        <tr>
          <td>Average age:</td>
          <td id="avg_age" value='{{ data["avg_age"] }}'>{{ data["avg_age"] }}</td>
        </tr>
      </tbody>
    </table>
    </div>
  <div class="col-md-6">
    <div id="piechart_gender">
    </div>
  </div>
</div>
<hr>
<div class="row">
    <div id="histogram_age">
    </div>
</div>

<hr>
<div class="col-md-12">  
    <div class="row">
        <div class="col-md-6">
            <label>Gender:</label>
            <select class="form-control" id="selectGender" onchange="displayImage(this);">
                <option value="-1">All</option>
                <option value="0">Men</option>
                <option value="1">Women</option>
            </select>
            <label>Age range:</label>
            <select class="form-control" id="selectAgeRange" onchange="displayDecade(this);">
                <option value="-1">All</option>
                <option value="0">0-10</option>
                <option value="1">11-20</option>
                <option value="2">21-30</option>
                <option value="3">31-40</option>
                <option value="4">41-50</option>
                <option value="5">51-60</option>
                <option value="6">61-70</option>
                <option value="7">71-80</option>
                <option value="8">81-90</option>
                <option value="9">90+</option>
            </select>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1" style="padding-top:15px;">
            <p id="change"></p>
            <img id="canvas" src="{{ url_for('static', filename='img/gender/male-female.png') }}" class="img-responsive" height="100" width="100">
        </div>
        <div class="col-md-4" style="padding-top:3%;">
            <p style="font-size:30pt;font-weight:bold;">AGE: <span id="age-change">NO CATEGORY</span></p>
        </div>
    </div>
    <div class="row">
    <div class="col-md-12" >
        <br>
        <button class="btn" id="recalcStats">Recalculate</button>
        <br><hr>
    </div>
    </div>

    <script type=text/javascript>
  $(function() {
      $('#recalcStats').bind('click', function() {
          $.getJSON($SCRIPT_ROOT + '/measured/ajax_stats', {
        m: {{ data["measurementID"] }},
        g: $('#selectGender').val(),
        a: $('#selectAgeRange').val()
          }, function(data) {
          //brain
          $("#avg_react_legs").text(data.result["avg_react_legs"]+ " [ms]");
          $("#best_react_time_legs").text(data.result["best_react_time_legs"]+ " [ms]");
          $("#worst_react_time_legs").text(data.result["worst_react_time_legs"]+ " [ms]");
          $("#q1_react_time_legs").text(data.result["q1_react_time_legs"]+ " [ms]");
          $("#q2_react_time_legs").text(data.result["q2_react_time_legs"]+ " [ms]");
          $("#q3_react_time_legs").text(data.result["q3_react_time_legs"]+ " [ms]");

          $("#avg_react_hands").text(data.result["avg_react_hands"]+ " [ms]");
          $("#min_r_hands").text(data.result["min_r_hands"]+ " [ms]");
          $("#max_r_hands").text(data.result["max_r_hands"]+ " [ms]");
          $("#q1_react_time_hands").text(data.result["q1_react_time_hands"]+ " [ms]");
          $("#q2_react_time_hands").text(data.result["q2_react_time_hands"]+ " [ms]");
          $("#q3_react_time_hands").text(data.result["q3_react_time_hands"]+ " [ms]");

          $("#count_missed_hands").text(data.result["count_missed_hands"]);
          $("#count_misstaken_hands").text(data.result["count_misstaken_hands"]);
              //heart
          $("#min_systolic_press").text(data.result["min_systolic_press"]+ " [mm / Hg]");
          $("#avg_systolic_press").text(data.result["avg_systolic_press"]+ " [mm / Hg]");
          $("#max_systolic_press").text(data.result["max_systolic_press"]+ " [mm / Hg]");
          $("#q1_systolic_press").text(data.result["q1_systolic_press"]+ " [ms]");
          $("#q2_systolic_press").text(data.result["q2_systolic_press"]+ " [ms]");
          $("#q3_systolic_press").text(data.result["q3_systolic_press"]+ " [ms]");

          $("#min_diastolic_press").text(data.result["min_diastolic_press"]+ " [mm / Hg]");
          $("#avg_diastolic_press").text(data.result["avg_diastolic_press"]+ " [mm / Hg]");
          $("#max_diastolic_press").text(data.result["max_diastolic_press"]+ " [mm / Hg]");
          $("#q1_diastolic_press").text(data.result["q1_diastolic_press"]+ " [ms]");
          $("#q2_diastolic_press").text(data.result["q2_diastolic_press"]+ " [ms]");
          $("#q3_diastolic_press").text(data.result["q3_diastolic_press"]+ " [ms]");

          $("#min_puls").text(data.result["min_puls"]+ " [puls / min]");
          $("#avg_puls").text(data.result["avg_puls"]+ " [puls / min]");
          $("#max_puls").text(data.result["max_puls"]+ " [puls / min]");
          $("#q1_puls").text(data.result["q1_puls"]+ " [ms]");
          $("#q2_puls").text(data.result["q2_puls"]+ " [ms]");
          $("#q3_puls").text(data.result["q3_puls"]+ " [ms]");
              //lungs
          $("#min_vital_lung_capacity").text(data.result["min_vital_lung_capacity"]+ " [l]");
          $("#avg_vital_lung_capacity").text(data.result["avg_vital_lung_capacity"]+ " [l]");
          $("#max_vital_lung_capacity").text(data.result["max_vital_lung_capacity"]+ " [l]");
          $("#q1_vital_lung_capacity").text(data.result["q1_vital_lung_capacity"]+ " [ms]");
          $("#q2_vital_lung_capacity").text(data.result["q2_vital_lung_capacity"]+ " [ms]");
          $("#q3_vital_lung_capacity").text(data.result["q3_vital_lung_capacity"]+ " [ms]");
          
          $("#min_exhaled_volume").text(data.result["min_exhaled_volume"]+ " [l]");
          $("#avg_exhaled_volume").text(data.result["avg_exhaled_volume"]+ " [l]");
          $("#max_exhaled_volume").text(data.result["max_exhaled_volume"]+ " [l]");
          $("#q1_exhaled_volume").text(data.result["q1_exhaled_volume"]+ " [ms]");
          $("#q2_exhaled_volume").text(data.result["q2_exhaled_volume"]+ " [ms]");
          $("#q3_exhaled_volume").text(data.result["q3_exhaled_volume"]+ " [ms]");

          $("#min_exhalation_flow").text(data.result["min_exhalation_flow"]+ " [l / s]");
          $("#avg_exhalation_flow").text(data.result["avg_exhalation_flow"]+ " [l / s]");
          $("#max_exhalation_flow").text(data.result["max_exhalation_flow"]+ " [l / s]");
          $("#q1_exhalation_flow").text(data.result["q1_exhalation_flow"]+ " [l / s]");
          $("#q2_exhalation_flow").text(data.result["q2_exhalation_flow"]+ " [l / s]");
          $("#q3_exhalation_flow").text(data.result["q3_exhalation_flow"]+ " [l / s]");
              //body
          $("#min_height").text(data.result["min_height"]+ " [cm]");
          $("#avg_height").text(data.result["avg_height"]+ " [cm]");
          $("#max_height").text(data.result["max_height"]+ " [cm]");
          $("#q1_height").text(data.result["q1_height"]+ " [l / s]");
          $("#q2_height").text(data.result["q2_height"]+ " [l / s]");
          $("#q3_height").text(data.result["q3_height"]+ " [l / s]");

          $("#min_weight").text(data.result["min_weight"]+ " [kg]");
          $("#avg_weight").text(data.result["avg_weight"]+ " [kg]");
          $("#max_weight").text(data.result["max_weight"]+ " [kg]");
          $("#q1_weight").text(data.result["q1_weight"]+ " [l / s]");
          $("#q2_weight").text(data.result["q2_weight"]+ " [l / s]");
          $("#q3_weight").text(data.result["q3_weight"]+ " [l / s]");

          $("#min_bmi").text(data.result["min_bmi"]+ " [kg]");
          $("#avg_bmi").text(data.result["avg_bmi"]+ " [kg]");
          $("#max_bmi").text(data.result["max_bmi"]+ " [kg]");
          $("#q1_bmi").text(data.result["q1_bmi"]+ " [l / s]");
          $("#q2_bmi").text(data.result["q2_bmi"]+ " [l / s]");
          $("#q3_bmi").text(data.result["q3_bmi"]+ " [l / s]");

          $("#min_muscle_mass").text(data.result["min_muscle_mass"]+ " [%]");
          $("#avg_muscle_mass").text(data.result["avg_muscle_mass"]+ " [%]");
          $("#max_muscle_mass").text(data.result["max_muscle_mass"]+ " [%]");
          $("#q1_muscle_mass").text(data.result["q1_muscle_mass"]+ " [l / s]");
          $("#q2_muscle_mass").text(data.result["q2_muscle_mass"]+ " [l / s]");
          $("#q3_muscle_mass").text(data.result["q3_muscle_mass"]+ " [l / s]");

          $("#min_water").text(data.result["min_water"]+ " [%]");
          $("#avg_water").text(data.result["avg_water"]+ " [%]");
          $("#max_water").text(data.result["max_water"]+ " [%]");
          $("#q1_water").text(data.result["q1_water"]+ " [l / s]");
          $("#q2_water").text(data.result["q2_water"]+ " [l / s]");
          $("#q3_water").text(data.result["q3_water"]+ " [l / s]");

          $("#min_fat").text(data.result["min_fat"]+ " [%]");
          $("#avg_fat").text(data.result["avg_fat"]+ " [%]");
          $("#max_fat").text(data.result["max_fat"]+ " [%]");
          $("#q1_fat").text(data.result["q1_fat"]+ " [l / s]");
          $("#q2_fat").text(data.result["q2_fat"]+ " [l / s]");
          $("#q3_fat").text(data.result["q3_fat"]+ " [l / s]");
              //coloring
          $("#span_succ_rate_coloring_0").text(data.result["succ_rate_coloring_0"]+ " [%]");
          $("#span_succ_rate_coloring_1").text(data.result["succ_rate_coloring_1"]+ " [%]");
          $("#span_succ_rate_coloring_2").text(data.result["succ_rate_coloring_2"]+ " [%]");
          $("#span_succ_rate_coloring_3").text(data.result["succ_rate_coloring_3"]+ " [%]");
          $("#span_succ_rate_coloring_4").text(data.result["succ_rate_coloring_4"]+ " [%]");
          $("#span_succ_rate_coloring_5").text(data.result["succ_rate_coloring_5"]+ " [%]");
          $("#span_succ_rate_coloring_6").text(data.result["succ_rate_coloring_6"]+ " [%]");
          $("#span_succ_rate_coloring_7").text(data.result["succ_rate_coloring_7"]+ " [%]");
      });
      return false;
    });
  });
    </script>
</div>
<hr />
    <div>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a data-toggle="tab" href="#brain">Brain and senses</a></li>
            <li role="presentation"><a data-toggle="tab" href="#heart">Heart and blood</a></li>
            <li role="presentation"><a data-toggle="tab" href="#lungs">Lungs</a></li>
            <li role="presentation"><a data-toggle="tab" href="#body">Body proportions</a></li>
            <li role="presentation"><a data-toggle="tab" href="#questionnaire">Questionnaire</a></li>
            <li role="presentation"><a data-toggle="tab" href="#coloring">Coloring</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="brain">
                <h3>Brain and senses</h3>
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <img src="{{ url_for('static', filename='img/categories/brain.png') }}" class="img-responsive">
                    </div>
                    <div class="col-md-5"></div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:70%">Legs</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Average react time of legs:</td>
                            <td id="avg_react_legs" value='{{ data["avg_react_legs"] }}'>{{ data["avg_react_legs"] }} [ms]</td>
                        </tr>
                        <tr>
                            <td>Min react time of legs:</td>
                            <td id="best_react_time_legs" value='{{ data["best_react_time_legs"] }}'>{{ data["best_react_time_legs"] }} [ms]</td>
                        </tr>
                        <tr>
                            <td>Max react time of legs:</td>
                            <td id="worst_react_time_legs" value='{{ data["worst_react_time_legs"] }}'>{{ data["worst_react_time_legs"] }} [ms]</td>
                        </tr>
                        <tr>
                            <td>Q1 react time of legs:</td>
                            <td id="q1_react_time_legs" value='{{ data["q1_react_time_legs"] }}'>{{ data["q1_react_time_legs"] }} [ms]</td>
                        </tr>
                        <tr>
                            <td>Q2 react time of legs:</td>
                            <td id="q2_react_time_legs" value='{{ data["q2_react_time_legs"] }}'>{{ data["q2_react_time_legs"] }} [ms]</td>
                        </tr>
                        <tr>
                            <td>Q3 react time of legs:</td>
                            <td id="q3_react_time_legs" value='{{ data["q3_react_time_legs"] }}'>{{ data["q3_react_time_legs"] }} [ms]</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:70%">Hands</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Average react time of hands:</td>
                            <td id="avg_react_hands" value='{{ data["avg_react_hands"] }}'>{{ data["avg_react_hands"] }} [ms]</td>
                        </tr>
                        <tr>
                            <td>Min react time of hands:</td>
                            <td id="min_r_hands" value='{{ data["min_r_hands"] }}'>{{ data["min_r_hands"] }} [ms]</td>
                        </tr>
                        <tr>
                            <td>Max react time of hands:</td>
                            <td id="max_r_hands" value='{{ data["max_r_hands"] }}'>{{ data["max_r_hands"] }} [ms]</td>
                        </tr>
                        <tr>
                            <td>Q1 react time of hands:</td>
                            <td id="q1_react_time_hands" value='{{ data["q1_react_time_hands"] }}'>{{ data["q1_react_time_hands"] }} [ms]</td>
                        </tr>
                        <tr>
                            <td>Q2 react time of hands:</td>
                            <td id="q2_react_time_hands" value='{{ data["q2_react_time_hands"] }}'>{{ data["q2_react_time_hands"] }} [ms]</td>
                        </tr>
                        <tr>
                            <td>Q3 react time of hands:</td>
                            <td id="q3_react_time_hands" value='{{ data["q3_react_time_hands"] }}'>{{ data["q3_react_time_hands"] }} [ms]</td>
                        </tr>
                        <tr>
                            <td>Count of people who hand missed:</td>
                            <td id="count_missed_hands" value='{{ data["count_missed_hands"] }}'>{{ data["count_missed_hands"] }}</td>
                        </tr>
                        <tr>
                            <td>Count of people who made misstake with hand:</td>
                            <td id="count_misstaken_hands" value='{{ data["count_misstaken_hands"] }}'>{{ data["count_misstaken_hands"] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="heart">
                <h3>Heart and blood</h3>
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <img src="{{ url_for('static', filename='img/categories/heart.png') }}" class="img-responsive">
                    </div>
                    <div class="col-md-5"></div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:70%">Systolic blood pressure</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Min systolic blood pressure:</td>
                            <td id="min_systolic_press" value='{{ data["min_systolic_press"] }}'>{{ data["min_systolic_press"] }} [mm / Hg]</td>
                        </tr>
                        <tr>
                            <td>Average systolic blood pressure:</td>
                            <td id="avg_systolic_press" value='{{ data["avg_systolic_press"] }}'>{{ data["avg_systolic_press"] }} [mm / Hg]</td>
                        </tr>
                        <tr>
                            <td>Max systolic blood pressure:</td>
                            <td id="max_systolic_press" value='{{ data["max_systolic_press"] }}'>{{ data["max_systolic_press"] }} [mm / Hg]</td>
                        </tr>
                        <tr>
                            <td>Q1 systolic blood pressure:</td>
                            <td id="q1_systolic_press" value='{{ data["q1_systolic_press"] }}'>{{ data["q1_systolic_press"] }} [mm / Hg]</td>
                        </tr>
                        <tr>
                            <td>Q2 systolic blood pressure:</td>
                            <td id="q2_systolic_press" value='{{ data["q2_systolic_press"] }}'>{{ data["q2_systolic_press"] }} [mm / Hg]</td>
                        </tr>
                        <tr>
                            <td>Q3 systolic blood pressure:</td>
                            <td id="q3_systolic_press" value='{{ data["q3_systolic_press"] }}'>{{ data["q3_systolic_press"] }} [mm / Hg]</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:70%">Diastolic blood pressure</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Min diastolic blood pressure:</td>
                            <td id="min_diastolic_press" value='{{ data["min_diastolic_press"] }}'>{{ data["min_diastolic_press"] }} [mm / Hg]</td>
                        </tr>
                        <tr>
                            <td>Average diastolic blood pressure:</td>
                            <td id="avg_diastolic_press" value='{{ data["avg_diastolic_press"] }}'>{{ data["avg_diastolic_press"] }} [mm / Hg]</td>
                        </tr>
                        <tr>
                            <td>Max diastolic blood pressure:</td>
                            <td id="max_diastolic_press" value='{{ data["max_diastolic_press"] }}'>{{ data["max_diastolic_press"] }} [mm / Hg]</td>
                        </tr>
                        <tr>
                            <td>Q1 diastolic blood pressure:</td>
                            <td id="q1_diastolic_press" value='{{ data["q1_diastolic_press"] }}'>{{ data["q1_diastolic_press"] }} [mm / Hg]</td>
                        </tr>
                        <tr>
                            <td>Q2 diastolic blood pressure:</td>
                            <td id="q2_diastolic_press" value='{{ data["q2_diastolic_press"] }}'>{{ data["q2_diastolic_press"] }} [mm / Hg]</td>
                        </tr>
                        <tr>
                            <td>Q3 diastolic blood pressure:</td>
                            <td id="q3_diastolic_press" value='{{ data["q3_diastolic_press"] }}'>{{ data["q3_diastolic_press"] }} [mm / Hg]</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:70%">Pulse</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Min pulse:</td>
                            <td id="min_puls" value='{{ data["min_puls"] }}'>{{ data["min_puls"] }} [puls / min]</td>
                        </tr>
                        <tr>
                            <td>Average pulse:</td>
                            <td id="avg_puls" value='{{ data["avg_puls"] }}'>{{ data["avg_puls"] }} [puls / min]</td>
                        </tr>
                        <tr>
                            <td>Max pulse:</td>
                            <td id="max_puls" value='{{ data["max_puls"] }}'>{{ data["max_puls"] }} [puls / min]</td>
                        </tr>
                        <tr>
                            <td>Q1 pulse:</td>
                            <td id="q1_puls" value='{{ data["q1_puls"] }}'>{{ data["q1_puls"] }} [puls / min]</td>
                        </tr>
                        <tr>
                            <td>Q2 pulse:</td>
                            <td id="q2_puls" value='{{ data["q2_puls"] }}'>{{ data["q2_puls"] }} [puls / min]</td>
                        </tr>
                        <tr>
                            <td>Q3 pulse:</td>
                            <td id="q3_puls" value='{{ data["q3_puls"] }}'>{{ data["q3_puls"] }} [puls / min]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="lungs">
                <h3>Lungs</h3>
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <img src="{{ url_for('static', filename='img/categories/lungs.png') }}" class="img-responsive">
                    </div>
                    <div class="col-md-5"></div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:70%">Vital lung capacity</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Min vital lung capacity:</td>
                            <td id="min_vital_lung_capacity" value='{{ data["min_vital_lung_capacity"] }}'>{{ data["min_vital_lung_capacity"] }} [l]</td>
                        </tr>
                        <tr>
                            <td>Average vital lung capacity:</td>
                            <td id="avg_vital_lung_capacity" value='{{ data["avg_vital_lung_capacity"] }}'>{{ data["avg_vital_lung_capacity"] }} [l]</td>
                        </tr>
                        <tr>
                            <td>Max vital lung capacity:</td>
                            <td id="max_vital_lung_capacity" value='{{ data["max_vital_lung_capacity"] }}'>{{ data["max_vital_lung_capacity"] }} [l]</td>
                        </tr>
                        <tr>
                            <td>Q1 vital lung capacity:</td>
                            <td id="q1_vital_lung_capacity" value='{{ data["q1_vital_lung_capacity"] }}'>{{ data["q1_vital_lung_capacity"] }} [l]</td>
                        </tr>
                        <tr>
                            <td>Q2 vital lung capacity:</td>
                            <td id="q2_vital_lung_capacity" value='{{ data["q2_vital_lung_capacity"] }}'>{{ data["q2_vital_lung_capacity"] }} [l]</td>
                        </tr>
                        <tr>
                            <td>Q3 vital lung capacity:</td>
                            <td id="q3_vital_lung_capacity" value='{{ data["q3_vital_lung_capacity"] }}'>{{ data["q3_vital_lung_capacity"] }} [l]</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:70%">Exhaled volume in first second</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Min exhaled volume in first second:</td>
                            <td id="min_exhaled_volume" value='{{ data["min_exhaled_volume"] }}'>{{ data["min_exhaled_volume"] }} [l]</td>
                        </tr>
                        <tr>
                            <td>Average exhaled volume in first second:</td>
                            <td id="avg_exhaled_volume" value='{{ data["avg_exhaled_volume"] }}'>{{ data["avg_exhaled_volume"] }} [l]</td>
                        </tr>
                        <tr>
                            <td>Max exhaled volume in first second:</td>
                            <td id="max_exhaled_volume" value='{{ data["max_exhaled_volume"] }}'>{{ data["max_exhaled_volume"] }} [l]</td>
                        </tr>
                        <tr>
                            <td>Q1 exhaled volume in first second:</td>
                            <td id="q1_exhaled_volume" value='{{ data["q1_exhaled_volume"] }}'>{{ data["q1_exhaled_volume"] }} [l]</td>
                        </tr>
                        <tr>
                            <td>Q2 exhaled volume in first second:</td>
                            <td id="q2_exhaled_volume" value='{{ data["q2_exhaled_volume"] }}'>{{ data["q2_exhaled_volume"] }} [l]</td>
                        </tr>
                        <tr>
                            <td>Q3 exhaled volume in first second:</td>
                            <td id="q3_exhaled_volume" value='{{ data["q3_exhaled_volume"] }}'>{{ data["q3_exhaled_volume"] }} [l]</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:70%">Peak expiratory flow</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Min peak expiratory flow:</td>
                            <td id="min_exhalation_flow" value='{{ data["min_exhalation_flow"] }}'>{{ data["min_exhalation_flow"] }} [l / s]</td>
                        </tr>
                        <tr>
                            <td>Average peak expiratory flow:</td>
                            <td id="avg_exhalation_flow" value='{{ data["avg_exhalation_flow"] }}'>{{ data["avg_exhalation_flow"] }} [l / s]</td>
                        </tr>
                        <tr>
                            <td>Max peak expiratory flow:</td>
                            <td id="max_exhalation_flow" value='{{ data["max_exhalation_flow"] }}'>{{ data["max_exhalation_flow"] }} [l / s]</td>
                        </tr>
                        <tr>
                            <td>Q1 peak expiratory flow:</td>
                            <td id="q1_exhalation_flow" value='{{ data["q1_exhalation_flow"] }}'>{{ data["q1_exhalation_flow"] }} [l / s]</td>
                        </tr>
                        <tr>
                            <td>Q2 peak expiratory flow:</td>
                            <td id="q2_exhalation_flow" value='{{ data["q2_exhalation_flow"] }}'>{{ data["q2_exhalation_flow"] }} [l / s]</td>
                        </tr>
                        <tr>
                            <td>Q3 peak expiratory flow:</td>
                            <td id="q3_exhalation_flow" value='{{ data["q3_exhalation_flow"] }}'>{{ data["q3_exhalation_flow"] }} [l / s]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="body">
                <h3>Body proportions</h3>
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <img src="{{ url_for('static', filename='img/categories/body.png') }}" class="img-responsive">
                    </div>
                    <div class="col-md-5"></div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:70%">Height</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Min height:</td>
                            <td id="min_height" value='{{ data["min_height"] }}'>{{ data["min_height"] }} [cm]</td>
                        </tr>
                        <tr>
                            <td>Average height:</td>
                            <td id="avg_height" value='{{ data["avg_height"] }}'>{{ data["avg_height"] }} [cm]</td>
                        </tr>
                        <tr>
                            <td>Max height:</td>
                            <td id="max_height" value='{{ data["max_height"] }}'>{{ data["max_height"] }} [cm]</td>
                        </tr>
                        <tr>
                            <td>Q1 height:</td>
                            <td id="q1_height" value='{{ data["q1_height"] }}'>{{ data["q1_height"] }} [cm]</td>
                        </tr>
                        <tr>
                            <td>Q2 height:</td>
                            <td id="q2_height" value='{{ data["q2_height"] }}'>{{ data["q2_height"] }} [cm]</td>
                        </tr>
                        <tr>
                            <td>Q3 height:</td>
                            <td id="q3_height" value='{{ data["q3_height"] }}'>{{ data["q3_height"] }} [cm]</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:70%">Weight</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Min weight:</td>
                            <td id="min_weight" value='{{ data["min_weight"] }}'>{{ data["min_weight"] }} [kg]</td>
                        </tr>
                        <tr>
                            <td>Average weight:</td>
                            <td id="avg_weight" value='{{ data["avg_weight"] }}'>{{ data["avg_weight"] }} [kg]</td>
                        </tr>
                        <tr>
                            <td>Max weight:</td>
                            <td id="max_weight" value='{{ data["max_weight"] }}'>{{ data["max_weight"] }} [kg]</td>
                        </tr>
                        <tr>
                            <td>Q1 weight:</td>
                            <td id="q1_weight" value='{{ data["q1_weight"] }}'>{{ data["q1_weight"] }} [kg]</td>
                        </tr>
                        <tr>
                            <td>Q2 weight:</td>
                            <td id="q2_weight" value='{{ data["q2_weight"] }}'>{{ data["q2_weight"] }} [kg]</td>
                        </tr>
                        <tr>
                            <td>Q3 weight:</td>
                            <td id="q3_weight" value='{{ data["q3_weight"] }}'>{{ data["q3_weight"] }} [kg]</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:70%">BMI</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Min BMI:</td>
                            <td id="min_bmi" value='{{ data["min_bmi"] }}'>{{ data["min_bmi"] }}</td>
                        </tr>
                        <tr>
                            <td>Average BMI:</td>
                            <td id="avg_bmi" value='{{ data["avg_bmi"] }}'>{{ data["avg_bmi"] }}</td>
                        </tr>
                        <tr>
                            <td>Max BMI:</td>
                            <td id="max_bmi" value='{{ data["max_bmi"] }}'>{{ data["max_bmi"] }}</td>
                        </tr>
                        <tr>
                            <td>Q1 BMI:</td>
                            <td id="q1_bmi" value='{{ data["q1_bmi"] }}'>{{ data["q1_bmi"] }}</td>
                        </tr>
                        <tr>
                            <td>Q2 BMI:</td>
                            <td id="q2_bmi" value='{{ data["q2_bmi"] }}'>{{ data["q2_bmi"] }}</td>
                        </tr>
                        <tr>
                            <td>Q3 BMI:</td>
                            <td id="q3_bmi" value='{{ data["q3_bmi"] }}'>{{ data["q3_bmi"] }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:70%">Muscle mass</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Min muscle mass:</td>
                            <td id="min_muscle_mass" value='{{ data["min_muscle_mass"] }}'>{{ data["min_muscle_mass"] }} [%]</td>
                        </tr>
                        <tr>
                            <td>Average muscle mass:</td>
                            <td id="avg_muscle_mass" value='{{ data["avg_muscle_mass"] }}'>{{ data["avg_muscle_mass"] }} [%]</td>
                        </tr>
                        <tr>
                            <td>Max muscle mass:</td>
                            <td id="max_muscle_mass" value='{{ data["max_muscle_mass"] }}'>{{ data["max_muscle_mass"] }} [%]</td>
                        </tr>
                        <tr>
                            <td>Q1 muscle mass:</td>
                            <td id="q1_muscle_mass" value='{{ data["q1_muscle_mass"] }}'>{{ data["q1_muscle_mass"] }} [%]</td>
                        </tr>
                        <tr>
                            <td>Q2 muscle mass:</td>
                            <td id="q2_muscle_mass" value='{{ data["q2_muscle_mass"] }}'>{{ data["q2_muscle_mass"] }} [%]</td>
                        </tr>
                        <tr>
                            <td>Q3 muscle mass:</td>
                            <td id="q3_muscle_mass" value='{{ data["q3_muscle_mass"] }}'>{{ data["q3_muscle_mass"] }} [%]</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:70%">Water</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Min water:</td>
                            <td id="min_water" value='{{ data["min_water"] }}'>{{ data["min_water"] }} [%]</td>
                        </tr>
                        <tr>
                            <td>Average water:</td>
                            <td id="avg_water" value='{{ data["avg_water"] }}'>{{ data["avg_water"] }} [%]</td>
                        </tr>
                        <tr>
                            <td>Max water:</td>
                            <td id="max_water" value='{{ data["max_water"] }}'>{{ data["max_water"] }} [%]</td>
                        </tr>
                        <tr>
                            <td>Q1 water:</td>
                            <td id="q1_water" value='{{ data["q1_water"] }}'>{{ data["q1_water"] }} [%]</td>
                        </tr>
                        <tr>
                            <td>Q2 water:</td>
                            <td id="q2_water" value='{{ data["q2_water"] }}'>{{ data["q2_water"] }} [%]</td>
                        </tr>
                        <tr>
                            <td>Q3 water:</td>
                            <td id="q3_water" value='{{ data["q3_water"] }}'>{{ data["q3_water"] }} [%]</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:70%">Fat</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Min fat:</td>
                            <td id="min_fat" value='{{ data["min_fat"] }}'>{{ data["min_fat"] }} [%]</td>
                        </tr>
                        <tr>
                            <td>Average fat:</td>
                            <td id="avg_fat" value='{{ data["avg_fat"] }}'>{{ data["avg_fat"] }} [%]</td>
                        </tr>
                        <tr>
                            <td>Max fat:</td>
                            <td id="max_fat" value='{{ data["max_fat"] }}'>{{ data["max_fat"] }} [%]</td>
                        </tr>
                        <tr>
                            <td>Q1 fat:</td>
                            <td id="q1_fat" value='{{ data["q1_fat"] }}'>{{ data["q1_fat"] }} [%]</td>
                        </tr>
                        <tr>
                            <td>Q2 fat:</td>
                            <td id="q2_fat" value='{{ data["q2_fat"] }}'>{{ data["q2_fat"] }} [%]</td>
                        </tr>
                        <tr>
                            <td>Q3 fat:</td>
                            <td id="q3_fat" value='{{ data["q3_fat"] }}'>{{ data["q3_fat"] }} [%]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="questionnaire">
                <h3>Questionnaire</h3>
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <img src="{{ url_for('static', filename='img/categories/quest.png') }}" class="img-responsive">
                    </div>
                    <div class="col-md-5"></div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <th  style="width:70%">Do you feel physically and mentally well?</th>
                        <th>Answer count</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Yes</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Only physically</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Only mentally</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>No</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <th  style="width:70%">Which physical activity do you prefer?</th>
                        <th>Answer count</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Running, jogging, dancing, cycling, swimming etc. (aerobic sports)</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Strengthening, bosu, pilates, boxing etc. (anaerobic sports)</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>I do not do sports</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <th  style="width:70%">How often you have physical activity?</th>
                        <th>Answer count</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Professionally (regurarly)</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Recreationally (sometimes)</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>I do not do any physical activity</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <th  style="width:70%">Do you follow regular eating regimen?</th>
                        <th>Answer count</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Yes, I do have 5 meals per day</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Yes, I do have only 3 meals per day</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>No, I do eat only when I am hungry and when I have got time</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>No, I do eat only if I remember to</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <th  style="width:70%">Do you follow regular drinking regime?</th>
                        <th>Answer count</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Yes, I do drink up to 1,5 liters of pure watter per day</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Yes, I do drink more than 1,5 liters of pure watter per day</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>My daily fluid intake is mostly made by tea, coffee, lemonade, alcohol etc.</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <th  style="width:70%">How often do you drink beverages with caffeine (for example coffee, guarana, coke and enegy drinks)?</th>
                        <th>Answer count</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Once per day</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>More then once per day</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Iregurarly</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>I do not drink beverages with caffeine</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <th  style="width:70%">I most offen eat:</th>
                        <th>Answer count</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Rationally varied food with lots of fruits and vegetables (I eat everything and balanced)</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Fastfoods (baguettes, pizza, hamburgers etc.)</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>I am on diet</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <th  style="width:70%">How often do you eat sweets (for example candy, chocolate, sweetened yogurts, doughnuts). Assume that you are eating more then one piece (whole package, chocolate bar etc.)?</th>
                        <th>Answer count</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>I do not eat sweets</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>More then once per day</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Once per week</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Once per month</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <th  style="width:70%">Do you use some medicaments or food supplements regurarly?</th>
                        <th>Answer count</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Yes, both</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Yes, medicaments (contraception by women)</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Yes, supplements</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Not using neither</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Once per month</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <th  style="width:70%">Are you suffering from some chronic illnesses?</th>
                        <th>Answer count</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Yes</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>No</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <th  style="width:70%">Do you go to a doctor for regular preventive examinations?</th>
                        <th>Answer count</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Yes</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>No</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <th  style="width:70%">Do you smoke?</th>
                        <th>Answer count</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>No</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Occasionally</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>1-5 cigarettes per day</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>6-10 ciggaretes per day</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>More then 11 ciggaretes per day</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <th  style="width:70%">How often do you drink alcohol?</th>
                        <th>Answer count</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Never, I am abstainer</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Occasionally</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Once per month</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Once per week</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Every day</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <th  style="width:70%">Do you have at least one friend, which you know about, that he will support you, help you and that you can count on him?</th>
                        <th>Answer count</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Yes</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>I think I do</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>No</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <th  style="width:70%">I am currently going through:</th>
                        <th>Answer count</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Stressless period</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Low degree of stress</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Medium degree of stress</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>High degree of stress</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <th  style="width:70%">My common way of relaxation is:</th>
                        <th>Answer count</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Some activity (walk, sport, sex etc.)</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Passive relaxation (watching TV, reading, sleeping, playing PC games etc.</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>I do not relax</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <th  style="width:70%">I do have sex (optional question):</th>
                        <th>Answer count</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Every day</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Regurarly once per week</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Regurarly once per month</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Iregurarly</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>I do not have sex at all</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <th  style="width:70%">Daily sleeping period:</th>
                        <th>Answer count</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Less then 6 hours</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>6-7 hours</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>8-10 hours</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>More then 10 hours</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <th  style="width:70%">My monthly salary is that high that:</th>
                        <th>Answer count</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>I do not have to thing about money at all</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>I think, I have got everything I need</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Whenever I am buying common stuff that I need, I think about my money</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>I am bothered by not haveing enough money</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="coloring">
                <h3>Coloring</h3>

                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td id="succ_rate_coloring_0" value='{{ data["succ_rate_coloring_0"] }}'>
                                Success rate of recognizing first picture: <span style="font-weight:bold" id="span_succ_rate_coloring_0">{{ data["succ_rate_coloring_0"] }} [%]</span><<br><br>
                                <img src="{{ url_for('static', filename='img/coloring/1.png') }}" alt="Coloring 1" class="img-responsive" height="330">
                            </td>
                            <td id="succ_rate_coloring_1" value='{{ data["succ_rate_coloring_1"] }}'>
                                Success rate of recognizing second picture: <span style="font-weight:bold" id="span_succ_rate_coloring_1">{{ data["succ_rate_coloring_1"] }} [%]</span><br><br>
                                <img src="{{ url_for('static', filename='img/coloring/2.png') }}" alt="Coloring 2" class="img-responsive">
                            </td>
                            <td id="succ_rate_coloring_2" value='{{ data["succ_rate_coloring_2"] }}'>
                                Success rate of recognizing third picture: <span style="font-weight:bold" id="span_succ_rate_coloring_2">{{ data["succ_rate_coloring_2"] }} [%]</span><br><br>
                                <img src="{{ url_for('static', filename='img/coloring/3.png') }}" alt="Coloring 3" class="img-responsive">
                            </td>
                        </tr>
                        <tr>
                            <td id="succ_rate_coloring_3" value='{{ data["succ_rate_coloring_3"] }}'>
                                Success rate of recognizing fourth picture: <span style="font-weight:bold" id="span_succ_rate_coloring_3">{{ data["succ_rate_coloring_3"] }} [%]</span><br><br>
                                <img src="{{ url_for('static', filename='img/coloring/4.png') }}" alt="Coloring 4" class="img-responsive">
                            </td>
                            <td id="succ_rate_coloring_4" value='{{ data["succ_rate_coloring_4"] }}'>
                                Success rate of recognizing fifth picture: <span style="font-weight:bold" id="span_succ_rate_coloring_4">{{ data["succ_rate_coloring_4"] }} [%]</span><br><br>
                                <img src="{{ url_for('static', filename='img/coloring/5.png') }}" alt="Coloring 5" class="img-responsive">
                            </td>
                            <td id="succ_rate_coloring_5" value='{{ data["succ_rate_coloring_5"] }}'>
                                Success rate of recognizing sixth picture: <span style="font-weight:bold" id="span_succ_rate_coloring_5">{{ data["succ_rate_coloring_5"] }} [%]</span><br><br>
                                <img src="{{ url_for('static', filename='img/coloring/6.png') }}" alt="Coloring 6" class="img-responsive">
                            </td>
                        </tr>
                        <tr>
                            <td id="succ_rate_coloring_6" value='{{ data["succ_rate_coloring_6"] }}'>
                                Success rate of recognizing seventh picture: <span style="font-weight:bold" id="span_succ_rate_coloring_6">{{ data["succ_rate_coloring_6"] }} [%]</span><br><br>
                                <img src="{{ url_for('static', filename='img/coloring/7.png') }}" alt="Coloring 7" class="img-responsive">
                            </td>
                            <td id="succ_rate_coloring_7" value='{{ data["succ_rate_coloring_7"] }}'>
                                Success rate of recognizing eighth picture: <span style="font-weight:bold" id="span_succ_rate_coloring_7">{{ data["succ_rate_coloring_7"] }} [%]</span><br><br>
                                <img src="{{ url_for('static', filename='img/coloring/8.png') }}" alt="Coloring 8" class="img-responsive">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>



    {% endblock %}
