{% extends "layout.html" %}
    {% block title %}Profil{% endblock %}
    {% block includes %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.1.0.slim.min.js') }}"></script>
        {% endblock %}

    {% block content %}
        <h1>Food import (CSV)</h1>
        <form action="{{ url_for('fitness.showFood') }}" method=post enctype="multipart/form-data">
            {{ form.foodInput }}
            {{ form.save }}
        </form>
        <h1>Exercise import (CSV)</h1>
        <form action="{{ url_for('fitness.showFood') }}" method=post enctype="multipart/form-data">
            {{ form.exerciseInput }}
            {{ form.save }}
        </form>
        <h1>Generate data</h1>
        <form action="{{ url_for('fitness.genData') }}" method=post>
            {{ form.save }}
        </form>

    {% endblock %}
