<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Body in Numbers</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <!--<meta charset="UTF-8" />-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!--<link rel="stylesheet" href="body.css">-->
        
        <style>






@import url('https://fonts.googleapis.com/css?family=Quicksand&subset=latin-ext');

page[size="A4"] {
    position:relative;
    float: left;
  background: white;
  width: 267mm;
  height: 380.4709mm;
  display: block;
  margin: 0;
/*   border: 2px solid #c5d4c4; 
  position: absolute;*/
  font-family: 'Quicksand', sans-serif;
  line-height: 160%;
  font-size: 6mm;
  color: #666;
  page-break-before: always;
} 




.human-body {
    position: absolute;
    width: 60mm;
    height: 195mm;
    top: 90mm;
    left: 41%;

}

.img-brain {
    position: absolute;
    height: 35mm;
    width: auto;
    top: 30mm;
    left: 41mm;
}

.img-heart {
    position: absolute;
    height: 38mm;
    width: auto;
    top: 220mm;
    left: 53mm;
}

.img-lungs {
    position: absolute;
    height: 40mm;
    width: auto;
    top: 253mm;
    left: 185mm;
}

.img-people {
    position: absolute;
    width: 90mm;
    height: auto;
    top: 80mm;
    left: 175mm;
}

.section-brain {
    position: absolute;
    top: 77mm;
    left: 20mm;
    width: 90mm;
}

.section-brain h2 {
    text-align: center;
    margin-top: 0;
    color: white;
    background-color: #bdbbbc;
    padding: 1mm;
}

.section-heart {
    position: absolute;
    top: 267mm;
    left: 20mm;
    width: 90mm;
}

.section-heart h2 {
    text-align: center;
    margin-top: 0;
    color: white;
    background-color: #ec104d;
    padding: 1mm;
}

.section-lungs {
    position: absolute;
    top: 295mm;
    left: 145mm;
    width: 120mm;
}

.section-lungs h2 {
    /*float:left;
    margin-left: 50mm;*/
    text-align: center;
    margin-top: 0;
    color: white;
    background-color: #f57f96;
    padding: 1mm;
}

.section-fitness {
    position: absolute;
    top: 110mm;
    left: 175mm;
    width: 90mm;
}

.section-fitness h2 {
    text-align: center;
    margin-top: 0;
    color: white;
    background-color: #d9bfac;
    padding: 1mm;
}

.grey {
    margin:0;
    padding: 1mm;
    background-color: lightgrey;
}

h1 {
/*     text-align: center; */
    position: absolute;
    left: 80mm;
    /*font-size: 12mm;*/
    top: -5mm;

}

.top-right-id {
    margin-top: 4mm;
    margin-right: 3mm;
    float: right;
}

.line {
    position: absolute;
    height: 18mm;
    border-bottom: 3mm solid #c5d4c4;
    left: 2mm;
    right: 0mm;
}


.side-stripe {
    position: absolute;
    left:0;
    top:0;
    bottom: 30mm;
    width: 15mm;
    background-color: #c5d4c4;
    
}

.vertical {
    position: absolute;
    top: 110mm;
    width:15mm;
    display:inline-block;
    clear: both;
    white-space: nowrap;
    color: white;
    font-weight: bold;
}

.side-stripe h3 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.top-form {
    position: absolute;
    top: 25mm;
    right: 2mm;
    width: 120mm;
    height: 47mm;
    background-color: #c5d4c4;
    padding: 2mm;
    color: white;
    font-weight: bold;
}

.highlight {

}

.qr-id {
    font-family: monospace;
}

.qr {
    position: absolute;
    right: 3mm;
    top: 3mm;
    display: block;
    width: 45mm;
    height: auto;
}


/*   ----- footer -----   */

.footer {
    position: absolute;
    bottom: 0mm;
    border-top: 3mm solid #c5d4c4;
    margin: 0;
    left: 2mm;
    right: 0mm;
    height: 30mm;
}

.logo {
    /*position: relative;*/
    border: none;
    margin: 0 auto;
    position: absolute;
}



.eu-customize {
    /*padding-top: 9mm;*/
    bottom: 5mm;
    left: 210mm;
}

.eu-customize  > img {
    display: block;
    width: 25mm;
    height: auto;
}

.fav-customize {
    /*padding-top: 4mm;*/
    bottom: 3mm;
    left: 160mm;
}

.fav-customize > img {
    display: block;
    width: 40mm;
    height: auto;
}

.ntis-customize {
    /*padding-top: 2mm;*/
    bottom: 4mm;
    left: 115mm;
}

.ntis-customize > img {
    display: block;
    width: 30mm;
    height: auto;
}

.mi-customize {
    bottom: 5mm;
    /*padding-top: 8mm;*/
    left: 76mm;
}

.mi-customize > img {
    display: block;
    width: 24mm;
    height: auto;
}

.kiv-customize {
    bottom: 5mm;
    left: 25mm;
}

.kiv-customize > img {
    display: block;
    width: 40mm;
    height: auto;
    
}

.phone {
    height: 25em;
}

.contact {
    position: absolute;
    font-size: 3mm;
    left: 25mm;
    bottom: 13mm;
    line-height: 4mm;
}

        </style>
        
    </head>
    
    
    <body>
        
        {% for code, img_qr in codes %}
        
        <page size="A4">
        <div class="line">
            <h1>Body in Numbers</h1>
            <span class="top-right-id">#{{ eventTag }} &ensp; [{{ loop.index + initialID - 1 }}]</span>
        </div>
                <div class="side-stripe">
                    <span class="vertical"><h3>Neuroinformatics Rerearch Group</h3></span>
                </div>
        
                <div class="top-form">
                    <div>
                        <span class="highlight">ID: &ensp;<span class="qr-id">{{ code }}</span></span><br>
                        <span>Datum: &ensp; {{ date }}</span><br>
                        <span>Jméno: .............................................</span><br>
                        <span>Pohlaví: ............................................</span><br>
                        <span>Věk: .....................................................</span><br>
                    </div>
                    
                    <img class="qr" src="data:image/png;base64,{{img_qr | safe}}" alt="qr">
                    
                </div>
                
                
                
                <img class="human-body" src="data:image/png;base64,{{img_body | safe}}" alt="body">
        
                
                <img class="img-brain" src="data:image/png;base64,{{img_brain | safe}}" alt="qr">
                
                <div class="section-brain">
                <h2>Mozek a smysly</h2>
                <span class="grey">Ruce</span><br>
                Reační doba: .................................... ms<br>
                Zmeškáno: ...................................................<br>
                Chyba: ..............................................................<br>
                <span class="grey">Nohy</span><br>
                Reakční doba: .................................. ms<br>
                Směrodatná odchylka: ......................................................................... ms<br>
                Nejlepší čas: ....................................... ms<br>
                Nejhorší čas: ...................................... ms<br>
                <br>
                Barvocit: ..........................................................
                </div>
                
                <img class="img-lungs" src="data:image/png;base64,{{img_lungs | safe}}" alt="qr">
                
                <div class="section-lungs">
                <h2>Respirační systém</h2>
                
                Vitální kapacita: .................................................................. l <br>
                Vydechnutý objem za první s.: ............................. l <br>
                Vrcholový výdechový průtok: ......................... l/s
                </div>
                
                
                <img class="img-heart" src="data:image/png;base64,{{img_heart | safe}}" alt="qr">
                <div class="section-heart">
                    <h2>Srdce a krev</h2>
                    Tlak: ...................... / ...................... mm Hg <br>
                    Puls: .............................................. puls/min <br>
                    <!--ST segment: ...................................... mm <br>-->
                    <!--QRS interval ............................................. s <br>-->
                    <br>
                    Glykemie ...................................... mmol/l <br>
                    Jídlo před měřením: <br> .................................................................................... <br>
                </div>
                
                
                <img class="img-people" src="data:image/png;base64,{{img_people | safe}}" alt="qr">
                <div class="section-fitness">
                    <h2>Fitness</h2>
                Výška: ....................................................... cm <br>
                Váha: .......................................................... kg <br>
                BMI: ...................................................................... <br>
                Svalová hmota ................................... % <br>
                Voda ............................................................. % <br>
                Tuk: ................................................................. % <br>
                Flexibilita: ............................................... cm <br>
                Balance levá noha: ........................ kg<br>
                Balance pravá noha: ................... kg <br>
                Síla levá ruka: ........................................ N <br>
                Síla pravá ruka: ................................... N <br>
                Síla levá ruka předpaž.: ............... N <br>
                Síla pravá ruka předpaž.: ........... N <br>
                </div>                
                
        
        <div class="footer">
            
            <div class="contact">
            Biolab<br>
            Medical informatics:<br>
            neuro@ntis.zcu.cz<br>
            http://neuroinformatics.kiv.zcu.cz/
            </div>
            
            <div class="row">
                    <div class="col-md-2 col-md-offset-1 text-center">
                        <div class="thumbnail logo kiv-customize">
                                <img src="data:image/png;base64,{{img_kiv | safe}}" alt="KIV">
                        </div>
                    </div>
                    
                    <div class="col-md-2 text-center">
                        <div class="thumbnail logo mi-customize">
                                <img src="data:image/png;base64,{{img_mi | safe}}" alt="MI">
                        </div>
                    </div>
                    
                    <div class="col-md-2 text-center">
                        <div class="thumbnail logo ntis-customize">
                                <img src="data:image/gif;base64,{{img_ntis | safe}}" alt="NTIS">
                        </div>
                    </div>
                    
                    <div class="col-md-2 text-center">
                        <div class="thumbnail logo fav-customize">
                                <img src="data:image/jpg;base64,{{img_fav | safe}}" alt="FAV">
                        </div>
                    </div>
                    
                    <div class="col-md-2 text-center">
                        <div class="thumbnail logo eu-customize">
                                <img src="data:image/jpg;base64,{{img_eu | safe}}" alt="EU">
                        </div>
                    </div>
            </div>
        </div>
        
        
        </page>
        {% endfor %}


    </body>
</html>
 
 
