
@import url('https://fonts.googleapis.com/css?family=Quicksand');

page[size="A4"] {
  background: white;
  width: 210mm;
  height: 297mm;
  display: block;
  margin: 0;
  border: 2px solid #c5d4c4;
  position: absolute;
  font-family: 'Quicksand', sans-serif;
  line-height: 160%;
} 


.human-body {
    position: absolute;
    width: 45mm;
    height: 160mm;
    top: 65mm;
    left: 43%;

}


h1 {
/*     text-align: center; */
    position: absolute;
    left: 44mm;
    font-size: 12mm;
    top: -5mm;

}

.line {
    position: absolute;
    height: 18mm;
    border-bottom: 3mm solid #c5d4c4;
    left: 2mm;
    right: 2mm;
}


.side-stripe {
    position: absolute;
    left:0;
    top:0;
    bottom: 30mm;
    width: 15mm;
    background-color: #c5d4c4;
    
}

.vertical {
    position: absolute;
    top: 110mm;
    width:15mm;
    display:inline-block;
    clear: both;
    white-space: nowrap;
    color: white;
    font-weight: bold;
}

.side-stripe h3 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.top-form {
    position: absolute;
    top: 25mm;
    right: 10mm;
    width: 80mm;
    height: 30mm;
    background-color: #c5d4c4;
    padding: 2mm;
    color: white;
    font-weight: bold;
}

.qr {
    position: absolute;
    right: 3mm;
    top: 3mm;
    display: block;
    width: 28mm;
    height: auto;
}


/*   ----- footer -----   */

.footer {
    position: absolute;
    bottom: 0;
    border-top: 3mm solid #c5d4c4;
    margin: 0;
    left: 2mm;
    right: 2mm;
    height: 30mm;
}

.logo {
    position: relative;
    border: none;
    margin: 0 auto;
    position: absolute;
}



.eu-customize {
    padding-top: 9mm;
    left: 160mm;
}

.eu-customize  > img {
    display: block;
    width: 18mm;
    height: auto;
}

.fav-customize {
    padding-top: 6mm;
    left: 120mm;
}

.fav-customize > img {
    display: block;
    width: 35mm;
    height: auto;
}

.ntis-customize {
    padding-top: 5mm;
    left: 90mm;
}

.ntis-customize > img {
    display: block;
    width: 25mm;
    height: auto;
}

.mi-customize {
    padding-top: 8mm;
    left: 65mm;
}

.mi-customize > img {
    display: block;
    width: 16mm;
    height: auto;
}

.kiv-customize {
    padding-top: 12mm;
    left: 25mm;
}

.kiv-customize > img {
    display: block;
    width: 30mm;
    height: auto;
    
}

.phone {
    height: 25em;
}
