



<!DOCTYPE html>
<html>
    <head>
        <title>Exercise and Wellness</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='body.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
    
    
    
    <body>

        <page size="A4">
            
        <h1>Human Body Analysis</h1>
        
        <div class="side-stripe">
            <span class="vertical"><h3>Neuroinformatics Rerearch Group</h3></span>
        </div>
        
        <div class="top-form row">
            <div class="col-md-5">
                <p>aa</p>
            </div>
            
            <div class="col-md-5">
                
            </div>
        
        </div>
        
        <img class="human-body" src="{{ url_for('static', filename='img/body/body.png') }}" alt="body">
        
        
        
        <div class="footer">
            <div class="row">
                    <div class="col-md-2 col-md-offset-1 text-center">
                        <div class="thumbnail logo kiv-customize">
                                <img src="kiv.png" alt="KIV">
                        </div>
                    </div>
                    
                    <div class="col-md-2 text-center">
                        <div class="thumbnail logo mi-customize">
                                <img src="mi.png" alt="MI">
                        </div>
                    </div>
                    
                    <div class="col-md-2 text-center">
                        <div class="thumbnail logo ntis-customize">
                                <img src="ntis.gif" alt="NTIS">
                        </div>
                    </div>
                    
                    <div class="col-md-2 text-center">
                        <div class="thumbnail logo fav-customize">
                                <img src="fav.jpg" alt="FAV">
                        </div>
                    </div>
                    
                    <div class="col-md-2 text-center">
                        <div class="thumbnail logo eu-customize">
                                <img src="eu.jpg" alt="EU">
                        </div>
                    </div>
            </div>
        </div>
        
        </page>


    </body>
</html>
 
 
