<html>
  <head>
    <title></title>
    <meta content="">
    <style>
        
h1 {
    color: lightblue;
    }
.page {
    background-color: green;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0;
} 
table {
    margin: 0 auto;
    background-color: red;
    }
        
    img {
        width: 80%;
        height: 80%;
    }
    th,tr {
        font-size: 80%;
        text-align: center;
        color: blue;
    }
    
    </style>
  </head>
  <body>
      <div class="page">
          <h1>Qr Codes for Persons</h1>
          
    <table>
        <tr>
        {% for item in codes %}
        
            <td><img src="{{ url_for('static', filename = 'tmp/' + loop.index |string + '.png') }}">[{{ loop.index }}]&nbsp;{{ item }}</td>
            
            {% if loop.index%columns == 0 and loop.index != 0 and loop.index != codes|length %}</tr>{% endif %}
            
            {% if loop.index%columns == 0 and loop.index != codes|length %}<tr>{% endif %}
        {% endfor %}
        </tr>
    </table>    
    </div>
  </body>
</html>
