{% extends "layout.html" %}

{% block title %}Naměřené osoby{% endblock %}
{% block includes %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='popup.css') }}"> <!-- Resource style -->
<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}"> <!-- Resource style -->



{% endblock %}

{% block content %}

<section class="content">

	<div class="wizzard">
		<div class="wizzard-head row align-items-start">
			<div class="col-md-1"><img src="{{ url_for('static', filename='img/qr.png') }}" alt="qr code" class="wizzard-img"></div>
			<div class="col-md-11" ><h1>QR generator for measured persons</h1></div>
		</div>
		

		<form action="{{ url_for('qrgenerator.person_setup_QR') }}" method=post>
			{{ form.hidden_tag() }}
			<div class="row top-buffer">
				<span class="col-sm-3">{{ form.countQR.label }}</span>
				<span class="col-sm-9">{{ form.countQR(class_="blue-input") }}</span>
			</div>
			<div class="row top-buffer">
				<span class="col-sm-3">{{ form.initialID.label }}</span>
				<span class="col-sm-9">{{ form.initialID(class_="blue-input") }}</span>
			</div>
			<div class="row top-buffer">
				<span class="col-sm-3">{{ form.eventTag.label }}</span>
			<span class="col-sm-9">{{ form.eventTag(class_="blue-input") }}</span>
			</div>
			<div class="row top-buffer">
				<span class="col-sm-3">{{ form.date.label }}</span>
				<span class="col-sm-9">{{ form.date(class_="blue-input") }}</span>
			</div>

			{{ form.generate(class_="btn blue-button margin-button pull-right") }}
		</form>

	</div>

</section>
{% endblock %}
