{% extends "layout.html" %}

		{% block title %}Naměřené osoby{% endblock %}
		{% block includes %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='popup.css') }}"> <!-- Resource style -->
		<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}"> <!-- Resource style -->
		{% endblock %}

		{% block content %}
		<h1>Proběhlá měření</h1>
		
		<table>
			<tr>
				<th>Jméno</th>
				<th>Příjmení</th>
				<th>Pohlaví</th>
				<th>Email</th>
				<!--<th>Editovat</th>-->
				<th>Smazat</th>
			</tr>
			{% for d in data %}
			<tr>
				<td>{{d.firstName}}</td>
				<td>{{ d.lastName }}</td>
				<td>{{ d.sex }}</td>
				<td>{{ d.email }}</td>
				<td><a href="#">data</a></td>
				<!--<td><a href="{{ url_for('measurement.edit_measurement', id_edit=d.id) }}"><span class="fa fa-pencil"></span></a></td>-->
				<td><a href="{{ url_for('measurement.remove_measurement', id_remove=d.id) }}"><span class="fa fa-trash"></span></a></td>
			</tr>
			{% endfor %}
		</table>
		
		{% endblock %}
