{% extends "layout.html" %}

    {% block title %}Přístroje{% endblock %}
    {% block includes %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
              xmlns="http://www.w3.org/1999/html">
        <link rel="stylesheet" href="{{ url_for('static', filename='popup.css') }}"> <!-- Resource style -->
        <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}"> <!-- Resource style -->
        <link rel="stylesheet" href="{{ url_for('static', filename='timeline.css') }}"> <!-- Resource style -->
        <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.1.0.js') }}"></script>
        <script src="{{ url_for('static', filename='js/show_div.js') }}"></script>
        <script type="text/javascript">
            $(document).ready( showForm );

            if (document.location.hash == "" || document.location.hash == "#")
                document.location.hash = "#tab1";

            $(document).ready(function () {
                var shift_h3 = 10;
                var shift_a = 115;
                {% for c in cat %}
                    shift_h3 = shift_h3 + 122;
                    $("article.tabs section:nth-child({{ loop.index + 1 }}) h3").css("left", shift_h3 + "px");
                    $("#del_cat{{ c.id }}").css("left", shift_a + "px");
                    shift_a = shift_a + 122;
                {% endfor %}
            });

        </script>
    {% endblock %}


    {% block content %}

    <div id="add_popup" class="overlay">
        <div class="popup">
            <h2>Nový přístroj</h2>
            <a class="close" href="#" onclick="unloadAddPopup()">&times;</a>
            <div class="content">

                <form action="{{ url_for('equipment.get_equipment') }}" method=post>
                    {{ form_add.hidden_tag() }}
                    {{ form_add.deviceCategory.label }}
                    {{ form_add.deviceCategory }} <br>
                    {{ form_add.deviceName.label }}
                    {{ form_add.deviceName }} <br>
                    {{ form_add.description.label }}
                    {{ form_add.description }} <br>
                    {{ form_add.add }}
                </form>
            </div>
        </div>
    </div>


    <div id="edit_popup" class="overlay">
        <div class="popup">
            <h2>Upravit informace o přístroji</h2>
            <a class="close" href="#" onclick="closeEdit()">&times;</a>
            <div class="content">

                <form action="{{ url_for('equipment.get_equipment') }}" method=post>
                    {{ form_edit.hidden_tag() }}
                    {{ form_edit.deviceCategory_e.label }}
                    {{ form_edit.deviceCategory_e }} <br>
                    {{ form_edit.deviceName_e.label }}
                    {{ form_edit.deviceName_e }} <br>
                    {{ form_edit.description_e.label }}
                    {{ form_edit.description_e }} <br>
                    {{ form_edit.device_id(class='hidden') }}
                    {{ form_edit.edit }}
                    <!--<input type="submit" value="edit"/>-->
                </form>
            </div>
        </div>
    </div>


    <div id="add_cat_popup" class="overlay">
        <div class="popup">
            <h2>Upravit informace o přístroji</h2>
            <a class="close" href="#" onclick="unloadAddCategory()">&times;</a>
            <div class="content">

                <form action="{{ url_for('equipment.get_equipment') }}" method=post>
                    {{ form_cat.hidden_tag() }}
                    {{ form_cat.categoryName.label }}
                    {{ form_cat.categoryName }} <br>
                    {{ form_cat.add }}
                </form>
            </div>
        </div>
    </div>

    <section>
        <h1 class="page-header">Equipment</h1>

        <a id="add_link" href="#" class="tm_new_equipment">Add new equipment</a> <br>

        <article class="tabs">

            {% for c in cat %}
            <section id="tab{{ loop.index }}" class="tabs_sec">
                <h3><a href="#tab{{ loop.index }}">{{ c.categoryName }}</a></h3>
                    <a class="add_category" href="#" onclick="loadAddCategory()">Add</a>
                    <a href="{{ url_for('equipment.remove_category', id=c.id) }}" id="del_cat{{ c.id }}" class="cancel_category"><span class="fa fa-close"></span></a>
                <table>
                    <tr>
                        <th>Equipment Name</th>
                        <th>Description</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for d in data %}
                        {% if d.deviceCategory == c.id %}
                        <tr>
                            <td>{{ d.deviceName }}</td>
                            <td>{{ d.description }}</td>
                            <td><a href="#" onclick="showEdit({{ d.id }}, {{ d.deviceCategory }}, '{{ d.deviceName }}', '{{ d.description }}')">
                                <span class="fa fa-pencil"></span></a></td>
                            <td><a href="{{ url_for('equipment.remove_equipment', id_remove=d.id) }}">
                                <span class="fa fa-trash"></span></a></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </section>
            {% endfor %}
            <section id="tab{{ cat.count() + 1 }}" class="tabs_sec">
                <div class="tabs_a"><h3><a href="#tab{{ cat.count() + 1 }}">All</a></h3>
                <a class="add_category" href="#" onclick="loadAddCategory()">Add</a></div>
                <table>
                    <tr>
                        <th>Category</th>
                        <th>Equipment Name</th>
                        <th>Description</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for d in data %}
                        {% for c in cat %}
                            {% if d.deviceCategory == c.id %}
                            <tr>
                                <td>{{ c.categoryName }}</td>
                                <td>{{ d.deviceName }}</td>
                                <td>{{ d.description }}</td>
                                <td><a href="#" onclick="showEdit({{ d.id }}, {{ d.deviceCategory }}, '{{ d.deviceName }}', '{{ d.description }}')">
                                    <span class="fa fa-pencil"></span></a></td>
                                <td><a href="{{ url_for('equipment.remove_equipment', id_remove=d.id) }}">
                                    <span class="fa fa-trash"></span></a></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </table>
            </section>
        </article>



    </section>

{% endblock %}
