{% macro link_to(endpoint, text) -%}
<a href="{{ url_for(endpoint, **kwargs) }}">{{ text|safe }}</a>
{%- endmacro %} 


<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='appstyle.css') }}"> <!-- Resource style -->
		{% block includes %}{% endblock %}
	</head>
	<body>
		<div>
			<header>Header
			
			</header>
			<nav>
				<div class="logo">Projektové dny</div>
				<h3>Navigation</h3>
				<ul class="menu">
					<li><a href="{{ url_for('measurement.project') }}" class="menu-item">Projekt</a></li>
					<li><a href="{{ url_for('measurement.measure_planning') }}" class="menu-item"><span class="i-active"></span>Měření</a></li>
					<ul class="menu">
						<li><a href="{{ url_for('measurement.measure_planning') }}" class="submenu-item">Plánování měření</a></li>
						<li><a href="{{ url_for('measurement.measured') }}" class="submenu-item">Proběhlá měření</a></li>
						<li><a href="{{ url_for('measurement.measured_persons') }}" class="submenu-item">Měřené osoby</a></li>
					</ul>
					<li><a href="{{ url_for('experiments.get_experiments') }}" class="menu-item">Experimenty</a></li>
                    <li><a href="{{ url_for('equipment.get_equipment') }}" class="menu-item">Přístroje</a></li>
					<li><a href="#" class="menu-item">Nastavení</a></li>
					<li><a href="{{ url_for('admin.show_all_users') }}" class="menu-item">Administrace</a></li>
				</ul>
				<div class="sidefooter"></div>
			</nav>
			<main>

				{% block content %}{% endblock %}

			</main>
			<aside>
				Aside Content Box</br>
				{{ link_to('auth.logout', "Logout") }}
			</aside>
			<footer>Footer Bar</footer>  
		</div>
	</body>
</html>