 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Rum+Raisin' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Quando' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oldenburg' rel='stylesheet' type='text/css'>

    <title>Static Top Navbar Example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"> <!-- Resource style -->


  </head>

  <body>

    <div class="container-fluid wrapper">

    <div id="log"></div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    
    <!-- import socket IO -->
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    
<script>
$(document).ready(function(){
    // start up the SocketIO connection to the server - the namespace 'test' is also included here if necessary
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/app/mobile');
    // this is a callback that triggers when the "my response" event is emitted by the server.
    socket.emit('login', { 'username': '3', 'password': 'jijfr' });
    console.log('foo');
    socket.on('token', function(msg) {
        $('#log').append('<p>Received: ' + msg + '</p>');
        var neco = '[{"id":0,"name":"aaa","formType":"integer","required":true,"formLabels":[""],"units":""}]';
        socket.emit('need_data', { 'id': '3', 'data': neco });
    });
});

</script>
    
  </body>
</html>
