{% extends "layout.html" %}

{% block title %}Naměřené osoby{% endblock %}
{% block includes %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='popup.css') }}"> <!-- Resource style -->
<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}"> <!-- Resource style -->

<style>
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    border-color: #57a5bf;
    border-bottom-color: transparent;
}
    
.nav-tabs{
  border-bottom: 2px solid #57a5bf;
}

.tab-content{
    background-color:#57a5bf;
    color:#fff;
}

.nav-tabs > .active > a {
border-bottom: none;
position: relative;
top: 2px;

    /* works with 1px */
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { 
    background-color: #fff; 
    cursor: default;
    border-color: #57a5bf;
    border-width: 2px;
    border-bottom-color: transparent;
}


</style>

{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="{{ url_for('statistics.showSummaryStatistics') }}">Summary</a></li>
    <li class="active"><a data-toggle="tab" href="{{ url_for('statistics.showReactionTime') }}" >Reaction Time</a></li>
    <li><a data-toggle="tab" href="#menu2" >Heart</a></li>
    <li><a data-toggle="tab" href="#menu3" >Fitness</a></li>
  </ul>


<section class="content">


<p>statistika</p>
</section>
{% endblock %}
