{% extends "layout.html" %}

{% block title %}Naměřené osoby{% endblock %}
{% block includes %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='popup.css') }}"> <!-- Resource style -->
<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}"> <!-- Resource style -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style>
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    border-color: #57a5bf;
    border-bottom-color: transparent;
}
    
.nav-tabs{
  border-bottom: 2px solid #57a5bf;
}

.tab-content{
    background-color:#57a5bf;
    color:#fff;
}

.nav-tabs > .active > a {
border-bottom: none;
position: relative;
top: 2px;

    /* works with 1px */
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { 
    background-color: #fff; 
    cursor: default;
    border-color: #57a5bf;
    border-width: 2px;
    border-bottom-color: transparent;
}

/* responsive canvas */
canvas {
  width: 100%;
  height: auto;
}

/************* reactions ***************/
.man {
  color: #3e95cd;
  font-weight: bold;
}

.woman {
  color: #e60000;  
  font-weight: bold;
}

.id-style {
    font-weight: bold;
}

</style>

{% endblock %}

{% block content %}
<!--<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="{{ url_for('statistics.showSummaryStatistics') }}">Summary</a></li>
    <li><a data-toggle="tab" href="#" >Reaction Time</a></li>
    <li><a data-toggle="tab" href="#menu2" >Heart</a></li>
    <li><a data-toggle="tab" href="#menu3" >Fitness</a></li>
  </ul>-->
  
  


<section class="content">




<div class="row">
    <div class="col-md-6">
            <h2 style="background-color: #00cc99; color: white; padding-top: 0.2em; padding-bottom: 0.2em; padding-left: 0.8em;">Hands Reaction Time</h2>
            <canvas id="hands-avg-time" width="800" height="300">Sorry, your browser doesn't support the &lt;canvas&gt; element.</canvas>
        
    </div> <!-- /col-md-6 -->
    <div class="col-md-6">
        
        <h2 style="background-color: #3e95cd;  color: white; padding-top: 0.2em; padding-bottom: 0.2em; padding-left: 0.8em;" >Legs Reaction Time</h2>
        <canvas id="legs-avg-time" width="800" height="300">Sorry, your browser doesn't support the &lt;canvas&gt; element.</canvas>
        
    </div> <!-- /col-md-6 -->
</div> <!-- /row -->




<div class="row">
    <div class="col-md-6">
        
        
        
          <table class="table">
            <thead>
              <tr>
                <th>Position</th>
                <th>ID</th>
                <th>Time</th>
                <th>Sex</th>
                <th>Decade</th>
              </tr>
            </thead>
            <tbody>
                
            {% for hands, personID, sex in handsZip %}
              <tr>
                <td>{{ loop.index }}.</td>
                <td class="id-style">{{ personID }}</td>
                <td>{{ hands }} ms</td>
                <td>
                    {% if sex == 0 %}
                    <span class="man fa fa-mars">
                    {% elif sex == 1 %}
                    <span class="woman fa fa-venus">
                    {% endif %}
                    </span></td>
                
                <td>-</td>
              </tr>
              
              {% endfor %}

            </tbody>
          </table>
        
        
    </div> <!-- /col-md-6 -->
    <div class="col-md-6">
        
        
        
          <table class="table">
            <thead>
              <tr>
                <th>Position</th>
                <th>ID</th>
                <th>Time</th>
                <th>Sex</th>
                <th>Decade</th>
              </tr>
            </thead>
            <tbody>
            {% for legs, personID, sex in legsZip %}
              <tr>
                <td>{{ loop.index }}.</td>
                
                <td class="id-style">{{ personID }}</td>
                <td>{{ legs }} ms</td>
                <td>
                    {% if sex == 0 %}
                    <span class="man fa fa-mars">
                    {% elif sex == 1 %}
                    <span class="woman fa fa-venus">
                    {% endif %}
                    </span></td>
                
                <td>-</td>
              </tr>
            {% endfor %}

            </tbody>
          </table>
        
    </div> <!-- /col-md-6 -->
</div> <!-- /row -->



<!-- Age Decades -->
<div class="row">
    <div class="col-md-6">
        
          
    <canvas id="hands-chart" width="800" height="400">Sorry, your browser doesn't support the &lt;canvas&gt; element.</canvas>
        
        
    </div> <!-- /col-md-6 -->
    <div class="col-md-6">
        
        
        <canvas id="legs-chart" width="800" height="400">Sorry, your browser doesn't support the &lt;canvas&gt; element.</canvas>
        
    </div> <!-- /col-md-6 -->
</div> <!-- /row -->


<!-- Histograms -->
<div class="row">
    <div class="col-md-6">
        
          
    <canvas id="histogram-hands" width="800" height="400">Sorry, your browser doesn't support the &lt;canvas&gt; element.</canvas>
        
        
    </div> <!-- /col-md-6 -->
    <div class="col-md-6">
        
        
        <canvas id="histogram-legs" width="800" height="400">Sorry, your browser doesn't support the &lt;canvas&gt; element.</canvas>
        
    </div> <!-- /col-md-6 -->
</div> <!-- /row -->

<script>


// Bar chart hands
new Chart(document.getElementById("hands-chart"), {
    type: 'bar',
    data: {
      labels: ["0-9", "10-19", "20-29", "30-39", "40-49", "50-59", "60-69", "70-79", "80-89", "90-99"],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ['#a50026','#d73027','#f46d43','#fdae61','#fee08b','#d9ef8b','#a6d96a','#66bd63','#1a9850','#006837'],
          data: {{ handsDecades }}
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Reaction Time - Hands'
      },
          scales: {
    yAxes: [{
      scaleLabel: {
        display: true,
        labelString: 'Reactions [ms]'
      }
    }],
    
    xAxes: [{
      scaleLabel: {
        display: true,
        labelString: 'Age'
      }
    }]
  }  
    }
});


// Bar chart legs
new Chart(document.getElementById("legs-chart"), {
    type: 'bar',
    data: {
      labels: ["0-9", "10-19", "20-29", "30-39", "40-49", "50-59", "60-69", "70-79", "80-89", "90-99"],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ['#9e0142','#d53e4f','#f46d43','#fdae61','#fee08b','#e6f598','#abdda4','#66c2a5','#3288bd','#5e4fa2'],
          data: {{ legsDecades }}
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Reaction Time - Legs'
      },
                scales: {
    yAxes: [{
      scaleLabel: {
        display: true,
        labelString: 'Reactions [ms]'
      }
    }],
    
    xAxes: [{
      scaleLabel: {
        display: true,
        labelString: 'Age'
      }
    }]
  } 
    }
});




// Hands avg time
new Chart(document.getElementById("hands-avg-time"), {
    type: 'doughnut',
    data: {
      labels: ["Hands average"],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#00cc99"],
          data: [{{ handsMean }},100]
        }
      ]
    },
    options: {
      title: {
        display: false
      },
      legend: {
        display: false
      },
      cutoutPercentage: 70
    }
    
});

// Legs avg time
new Chart(document.getElementById("legs-avg-time"), {
    type: 'doughnut',
    data: {
      labels: ["Legs average"],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#3e95cd"],
          data: [{{ legsMean }},100]
        }
      ]
    },
    options: {
      title: {
        display: false
      },
      legend: {
        display: false
      },
      cutoutPercentage: 70
    }
});




Chart.pluginService.register({
  beforeDraw: function(chart) {
    var width = chart.chart.width,
        height = chart.chart.height,
        ctx = chart.chart.ctx,
        type = chart.config.type;

    if (type == 'doughnut')
    {
    	/*var percent = Math.round((chart.config.data.datasets[0].data[0] * 100) / (chart.config.data.datasets[0].data[0] + chart.config.data.datasets[0].data[1]));*/
        var value = chart.config.data.datasets[0].data[0];
        var oldFill = ctx.fillStyle;
        var fontSize = ((height - chart.chartArea.top) / 100).toFixed(2);
      
      ctx.restore();
      ctx.font = fontSize + "em sans-serif";
      ctx.textBaseline = "middle"

      var name = "AVG", nameX = Math.round((width - ctx.measureText(name).width) / 2), nameY = (height + chart.chartArea.top) / 2.3;

      var text = value + "" + " ms",
          textX = Math.round((width - ctx.measureText(text).width) / 2),
          textY = (height + chart.chartArea.top) / 1.7;
			
      ctx.fillStyle = chart.config.data.datasets[0].backgroundColor[0];
      ctx.fillText(text, textX, textY);
      ctx.fillText(name, nameX, nameY);
      ctx.fillStyle = oldFill;
      ctx.save();
    }
  }
});


// histogram hands
new Chart(document.getElementById("histogram-hands"), {
  type: 'line',
  data: {
    labels: {{ histLabels }},
    datasets: [{ 
        data: {{ histHands }},
        label: "North America",
        borderColor: "#00cc99",
        fill: "true",
        backgroundColor : "#ccfff2"
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Histogram - hands'
    },
    legend: {
        display: false
    },
    elements: {
      point:{
        radius: 0
      }
    },
    scales: {
    yAxes: [{
      scaleLabel: {
        display: true,
        labelString: 'Frequency'
      }
    }],
    
    xAxes: [{
      scaleLabel: {
        display: true,
        labelString: 'Reactions [ms]'
      }
    }]
  }     
  }
});


// histogram legs
new Chart(document.getElementById("histogram-legs"), {
  type: 'line',
  data: {
    labels: {{ histLabels }},
    datasets: [{ 
        data: {{ histLegs }},
        label: "Amount",
        borderColor: "#3e95cd",
        fill: "true",
        backgroundColor : "#c2deef"
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Histogram - legs'
    },
    legend: {
        display: false
    },
    elements: {
      point:{
        radius: 0
      }
    },
    scales: {
    yAxes: [{
      scaleLabel: {
        display: true,
        labelString: 'Frequency'
      }
    }],
    
    xAxes: [{
      scaleLabel: {
        display: true,
        labelString: 'Reactions [ms]'
      }
    }]
  }     
  }
});

</script>


</section>
{% endblock %}
