<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Rum+Raisin' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Quando' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oldenburg' rel='stylesheet' type='text/css'>

    <title>Reactions</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"> <!-- Resource style -->

    <style>


body {
        color: white;
        font-family: 'Oldenburg','PT Sans', sans-serif;
}
    
    .content {
            background-color: #F6F6F6;
    }
    
    .left-side {
        background-color: #004466;
        background-image: url('{{ url_for('static', filename='img/man.png') }}');
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: 44%;
        background-position: 50% 60%; 
        height: 100%;
    }
    
    .right-side {
        background-color: #e6005c;
        background-image: url('{{ url_for('static', filename='img/woman.png') }}');
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: 42%;
        background-position: 50% 63%; 
        height: 100%;
    }
    
    
    
    html, body {
    height: 100%;
}
.container-fluid {
    margin: 0 auto;
    height: 100%;
    padding: 0;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.columns {
    background-color: #C9E6FF;
    height: 100%;   
}

.content-area, .article-tree{
    background: #bada55;
    overflow:auto;
    height: 100%;
}
    .men-table {
            box-shadow: 0 0 1em #333333;
            padding: 0.4em 0.5em 0em 0.5em;
            border-radius: 4px;
    }
    .women-table {
            box-shadow: 0 0 1em #800033;
            padding: 0.4em 0.5em 0em 0.5em;
            border-radius: 4px;
    }
    .table th {
        text-align: center;   
        
}
    .table td {
        
        font-family: 'PT Sans', sans-serif;
    }

    </style>

  </head>

  <body>

    <div class="container-fluid wrapper">

      <div class="row-fluid columns content"> 



 <div class = "col-md-6 text-center left-side">
     <!-- Content goes here --> 
     <div class="row">
         <div class="col-md-2"></div>
         <div class="col-md-8"><h2>MEN</h2></div>
        <div class="col-md-2">Measured: {{ menCount }} men</div>
     
     </div>
     
     <div class="row">
     <div class="col-md-6">
        
     <div class="men-table">
         <h4>Reaction Time  Hands</h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Position</th>
        <th>ID</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
        
        {% for num, id, time in menHandsZip  %}
      <tr>
        <td>{{ num }}.</td>
        <td>{{ id }}</td>
        <td>{{ time }} ms</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
</div>

    <div class="col-md-6">
        
     <div class="men-table">
         <h4>Reaction Time Legs</h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Position</th>
        <th>ID</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
    {% for num, id, time in menLegsZip  %}
      <tr>
        <td>{{ num }}.</td>
        <td>{{ id }}</td>
        <td>{{ time }} ms</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
     
     </div>
     <div class="row col-md-12" >
        <div style="background-color: #002233; width: 80%; height: 3em;">Hands: {{ avgHandMen|round|int }} ms </div>
     </div>
         <div class="row col-md-12" >
        <div style="background-color: #002233; width: 81%; height: 3em; margin-top: 1em;">Legs: {{ avgLegMen|round|int }} ms </div>
     </div>
     
     
    </div>
    
    <div class = "col-md-6 text-center right-side">
      <!-- Content goes here -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><h2>WOMEN</h2></div>
        <div class="col-md-2">Measured: {{ womenCount }} women</div>
     
    </div>
      
      <div class="row">
     <div class="col-md-6">
        
     <div class="women-table">
         <h4>Reaction Time Hands</h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Position</th>
        <th>ID</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
    {% for num, id, time in womenHandsZip  %}
      <tr>
        <td>{{ num }}.</td>
        <td>{{ id }}</td>
        <td>{{ time }} ms</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

    <div class="col-md-6">
        
     <div class="women-table">
         <h4>Reaction Time Legs</h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Position</th>
        <th>ID</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
    {% for num, id, time in womenLegsZip  %}
      <tr>
        <td>{{ num }}.</td>
        <td>{{ id }}</td>
        <td>{{ time }} ms</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
      
     </div>
     <div class="row col-md-12" >
        <div style="background-color: #800033; width: 84%; height: 3em;"><p>Hands: {{ avgHandWomen|round|int }} ms</p></div>
     </div>
         <div class="row col-md-12" >
        <div style="background-color: #800033; width: 77%; height: 3em; margin-top: 1em;">Legs: {{ avgLegWomen|round|int }} ms </div>
     </div>
     
     
     <div id="log"></div>
      
      
    </div>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    
  </body>
</html>
