{% extends "web-layout.html" %} 



{% block includes %}{% endblock %} 


{% block content %}


    <div class="first-page" style="height: 100%;">
        <form action="{{ url_for('statistics.showResultsForm') }}" method=post class="text-center">
            {{ form.code(class_="blue-input") }}
            {{ form.hidden_tag() }}
            <input type="submit" value="Get Info" class="btn blue-button blue-button-fix">
        </form>	
    </div>

{% endblock %}
