<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">


    <title>Static Top Navbar Example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"> <!-- Resource style -->

    <style>
    .result-table {
            padding: 1em;
            border-radius: 10px;
    }
    
    .content {
            background-color: white;
    }
    
    body {
            background-color: #F6F6F6;
    }
    </style>

  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='img/lenochod.png') }}" alt="lenochod" height="20" width="20"></a>
          
          <h4 class="navbar-text">Výsledek Měření</h4> 
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><strong>ID: </strong>{{ person_id }}</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron content">
        

{% for experimentName, experimentData in data %}
<h3>{{ experimentName }}</h3>
<div class="result-table">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Měření</th>
        <th>Váš výsledek</th>
        <th>Průměrný výsledek</th>
      </tr>
    </thead>
    <tbody>
      
      {% for name, value, unit in experimentData %}
      <tr>
        <td>{{ name }}</td>
        <td>{{ value }} {{ unit }}</td>
        <td>-</td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>

{% endfor %}

<p>*Toto není lékařské vyšetření. Hodnoty mají pouze informační charakter.</p>

      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  </body>
</html>
