{% extends "layout.html" %}

{% block title %}Naměřené osoby{% endblock %}
{% block includes %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='popup.css') }}"> <!-- Resource style -->
<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}"> <!-- Resource style -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<style>
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    border-color: #57a5bf;
    border-bottom-color: transparent;
}
    
.nav-tabs{
  border-bottom: 2px solid #57a5bf;
}

.tab-content{
    background-color:#57a5bf;
    color:#fff;
}

.nav-tabs > .active > a {
border-bottom: none;
position: relative;
top: 2px;

    /* works with 1px */
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { 
    background-color: #fff; 
    cursor: default;
    border-color: #57a5bf;
    border-width: 2px;
    border-bottom-color: transparent;
}

/* responsive canvas */
canvas {
  width: 100%;
  height: auto;
}



.body {
    width:100%; 
    height: auto;
}

.brain {
    margin-top: 0.5em;
    width:auto; 
    height: 4.6em;
}

.heart {
    width:auto; 
    height: 6em;
}

.lungs {
    width:auto; 
    height: 6em;
}

.fitness {
    width: 5em;
    height: 5em;
}

.icon {
    position:relative;
    width: 80%;
    margin-top: 2em;
    padding: 1em;
    border-radius: 8px;
    background-color: #F8F8F8;
    box-shadow: 6px 6px 4px #D0D0D0;
    height: 8em;
}

.icon:hover {
    background-color: #EEEEEE;
}

.left-side {
    float: right;
    margin-right: 1em;
}

.right-side {
    float:left;
    margin-left: 1em;
}


.my-button {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    width:100%;
    border:0;
    z-index: 100;
    border-radius: 8px;
    background-color: Transparent;
    color: rgba(0,0,0,0);  
}

</style>

{% endblock %}

{% block content %}
<!--<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="{{ url_for('statistics.showSummaryStatistics') }}">Summary</a></li>
    <li><a data-toggle="tab" href="#" >Reaction Time</a></li>
    <li><a data-toggle="tab" href="#menu2" >Heart</a></li>
    <li><a data-toggle="tab" href="#menu3" >Fitness</a></li>
  </ul>-->
  
  


<section class="content">


<form action="{{ url_for('statistics.showSummaryStatistics') }}" method=post>
        {{ form.hidden_tag() }}

        {{ form.measurement.label }}
        {{ form.measurement }}

    <div class="row">
        <div class="col-md-5">
            <div class="row icon left-side">
                {{ form.brain(class_="my-button") }}
                <div class="col-md-4"><img class="brain" src="{{ url_for('static', filename='img/body/mozek.png') }}"></img></div>
                <div class="col-md-8"><h4>Brain Activity</h4></div>
            </div>
            <div class="row icon left-side">
                {{ form.heart(class_="my-button") }}
                <div class="col-md-4"><img class="heart" src="{{ url_for('static', filename='img/body/srdce.png') }}"></img></div>
                <div class="col-md-8"><h4>Heart and Blood</h4></div>
            </div>
            <div class="icon left-side row">
                {{ form.lungs(class_="my-button") }}
                <div class="col-md-4"><img class="lungs" src="{{ url_for('static', filename='img/body/plice.png') }}"></img></div>
                <div class="col-md-8"><h4>Lungs</h4></div>
            </div>
            
        </div>
        <div class="col-md-2"><img class="body" src="{{ url_for('static', filename='img/body/body-low.png') }}"></img></div>
        <div class="col-md-5">
            
            <div class="icon right-side row">
                {{ form.hands(class_="my-button") }}
                <div class="col-md-4"><img class="brain" src="{{ url_for('static', filename='img/body/mozek.png') }}"></img></div>
                <div class="col-md-8"><h4>Hands Reaction</h4></div>
                 
            </div>
            <div class="icon right-side row">
                {{ form.legs(class_="my-button") }}
                <div class="col-md-4"><img class="brain" src="{{ url_for('static', filename='img/body/mozek.png') }}"></img></div>
                <div class="col-md-8"><h4>Legs Reaction</h4></div>
                 
            </div>
            <div class="icon right-side row">
                {{ form.fitness(class_="my-button") }}
                <div class="col-md-4"><img class="fitness" src="{{ url_for('static', filename='img/body/people.png') }}"></img></div>
                <div class="col-md-8"><h4>Fitness</h4></div>
            </div>
        </div>

    </div>

</form>

</section>
{% endblock %}
