{% extends "layout.html" %}

    {% block title %}Experimenty{% endblock %}
    {% block includes %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
              xmlns="http://www.w3.org/1999/html">
        <link rel="stylesheet" href="{{ url_for('static', filename='popup.css') }}"> <!-- Resource style -->
        <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}"> <!-- Resource style -->
        <link rel="stylesheet" href="{{ url_for('static', filename='timeline.css') }}"> <!-- Resource style -->
        <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.1.0.js') }}"></script>

        <script src="{{ url_for('static', filename='js/show_div.js') }}"></script>
        <script src="{{ url_for('static', filename='js/formMaker.js') }}"></script>
        <script>
            $(document).ready( showForm );
        </script>
    {% endblock %}


    {% block content %}

    <div id="add_popup" class="overlay">
        <div class="popup" id="page1">
            <h2>Nový experiment</h2>
            <a class="close" href="#" onclick="unloadAddPopup()">&times;</a>
            

                <form action="{{ url_for('experiments.get_experiments') }}" method=post onsubmit="insertData();">
                    
                    <div class="content" id="example-basic">
                        
                        <section id="page1" class="before_next">
                    <h3>prvni strana</h3>
                    
                        {{ form_add.hidden_tag() }}
                        {{ form_add.experimentName.label }}
                        {{ form_add.experimentName }} </br>
                        {{ form_add.measuringEquipment.label }}
                        {{ form_add.measuringEquipment }} </br>
                        {{ form_add.description.label }}
                        {{ form_add.description }} </br>
                        <button type="button" id="next_btn" onclick="nextForm()">Další</button>
                    </section>
                    
                    <section id="page2" class="after_next">
                    <h3>druha strana</h3>
                    
                        <div id="experiment-form"></div>
                        <button type="button" onclick="addForm();">Add Form</button>
                        <button type="button" onclick="toScoreEditor();">Next to score editor</button>
                        {{ form_add.experimentScheme }}
                        {{ form_add.save }}
                    </section>
                    
                     </div>
                     
                </form>
           
        </div>
    </div>


    <section>
        <h1 class="page-header">Experiments</h1>

        <a id="add_link" href="#" class="tm_new_equipment">Add new experiment</a> <!-- href="#add_popup" -->
        </br>

        <table>
            <tr>
                <th>Experiment Name</th>
                <th>Equipment</th>
                <th>Description</th>
                <th>Delete</th>
            </tr>
            {% for d in data %}
                <tr>
                    <td>{{ d.experimentName }}</td>
                    <td>-</td>
                    <td>{{ d.description }}</td>
                    <td><a href="{{ url_for('equipment.remove_equipment', id_remove=d.id) }}"><span class="fa fa-trash"></span></a></td>
                </tr>
                <!--{% for e in eqp %}
                    {% if d.measuringEquipment == e.id %}
                        <tr>
                            <td>{{ d.experimentName }}</td>
                            <td>{{ e.deviceName }}</td>
                            <td>{{ d.description }}</td>
                            <td><a href="{{ url_for('equipment.remove_equipment', id_remove=d.id) }}"><span
                                    class="fa fa-trash"></span></a></td>
                        </tr>
                    {% endif %}
                {% endfor %}-->
            {% endfor %}
        </table>
    </section>

{% endblock %}
