<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>Body in Numbers</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}"> <!-- Resource style -->
  </head>

  <body>

    <div class="container" >


          <div class="row justify-content-md-center top-header">
              <div class="col-md-2"><a href="{{ url_for('general.index') }}"><span class="glyphicon glyphicon-menu-left"></span></a></div>
              <div class="col-md-8 text-center"><h2>Sign in</h2></div>
              <div class="col-md-2"></div>
          </div>



      <div class="user-icon">
        <img src="{{ url_for('static', filename='img/body/mozek-low.png') }}" alt="brain" class="brain">
      </div>


      <form class="form-signin center-block" action="{{ url_for('auth.login') }}" method="post">
        
        <!--<label for="inputEmail" class="sr-only">Login</label>-->
        <!--<input type="email" id="inputEmail" class="text-line" placeholder="Login" required autofocus>-->
        <!--<input type="text" id="inputEmail" class="text-line" placeholder="Login" required autofocus>-->
        {{ form.email(class_="text-line", placeholder="Login", autofocus=true, required=true) }}
        <!--<label for="inputPassword" class="sr-only">Password</label>-->
        <!--<input type="password" id="inputPassword" class="text-line" placeholder="Password" required>-->
        {{ form.password(class_="text-line", placeholder="Password", autofocus=true, required=true) }}
        {{ form.hidden_tag() }}
        
        <!--<div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>-->
        
        
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Sign in</button>
      </form>

    </div> <!-- /container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html> 
