<html>
	<head>
		<title></title>
		<meta content="">
		<link  href="http://fonts.googleapis.com/css?family=Cantarell:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
		<link  href="http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:regular,italic" rel="stylesheet" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
		
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='registration.css') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="container">
			<div class="registration-box">
				<div class="reg-title">
					<span class="fa fa-pencil-square-o fa-2x"></span>
					<h3>Create an Account</h3>
					<div class="progress-bar">
						<div class="step"></div>
					</div>
				</div>
				<form action="{{ url_for('auth.registration') }}" method=post>
					<div class="line">
						<label>Email:</label>
						<span class="field">
							<i class="fa fa-envelope"></i>
							<!--<input type="text" name="email">-->
							{{ form.email }}
						</span>

					</div>
					<div class="line">
						<label>First name:</label>
						<span class="field">
							<i class="fa fa-user"></i>
							<!--"<input type="text" name="firstname">-->
							{{ form.firstName }}
						</span>
					</div>
					<div class="line">
						<label>Last name:</label>
						<span class="field">
							<i class="fa fa-user"></i>
							<!--<input type="text" name="lastname">-->
							{{ form.lastName }}
						</span>			
					</div>
					<div class="line">
						<label>Password:</label>
						<span class="field">
							<i class="fa fa-lock"></i>
							<!--<input type="text" name="password">-->
							{{ form.password }}
						</span>				
					</div>
					<div class="line">
						<label>Confirm password:</label>
						<span class="field">
							<i class="fa fa-lock"></i>
							<!--<input type="text" name="pswdconfirm">-->
							{{ form.confirm }}
						</span>		
					</div>
					<!--<button type="button" onclick="alert('Hello World!')">Next</button> -->
					{{ form.hidden_tag() }}
					<input type="submit" value="registration" class="btn">
				</form>
			</div>
		</div>
	</body>
</html>
