{% extends "web-layout.html" %} 



{% block includes %}{% endblock %} 


{% block content %}


        <div class="first-page" style="height: 100%;">
            
            <img src="{{ url_for('static', filename='img/index/run-orange.png') }}" alt="run" class="run">
            <img src="{{ url_for('static', filename='img/index/apple.png') }}" alt="apple" class="apple">
            <img src="{{ url_for('static', filename='img/index/bike.png') }}" alt="bike" class="bike">
            <img src="{{ url_for('static', filename='img/index/drink.png') }}" alt="drink" class="drink">
            <img src="{{ url_for('static', filename='img/index/sleep.png') }}" alt="sleep" class="sleep">
            
            <a href="#" class="measured">Measured Persons: {{ personNumber }}</a>
</div>
        
        </div>
        
        
<!---------------------------------------------------------------------------->
        

        <!--<div class="filler content-customize"></div>-->
        
        <div id="about" class="container-fluid content-customize" >
            <div class="row button-icons">
                <div class="col-sm-7 text-center">
                    <div class="text-strip">
                        <h1>About Project</h1>
                        <p>Unwillingness of many people to assume responsibilities for a personal health, fitness and wellness seems to be widespread. This can be partially remedied by individualized exercise and wellness program that integrates the basic knowledge domains: lifestyle, sports and fitness, and nutrition and personal/environmental health. However, collection, management and analysis of data and metadata related to these domains is demanding and time consuming task. Moreover, the appropriate annotation of raw data is crucial for their next processing. To promote such a program a software infrastructure for collection, storage, management, analysis and interpretation of health related data and metadata has been proposed and part of this infrastructure has been developed and tested outside laboratory conditions. This software prototype allows experimenters to collect various heterogeneous health related data in a~highly organized and efficient way. Data are then evaluated and users can view relevant information related to their health and fitness.</p>
                    </div>
                </div>
                <div class="col-sm-5 text-center" data-aos="fade-left" data-aos-duration="600" data-aos-delay="200">
                        <img src="{{ url_for('static', filename='img/index/screenweb.png') }}" alt="screen" class="screen">
                </div>
            </div>
        </div>

<!---------------------------------------------------------------------------->
<div class="container-fluid content-customize button-icons-bg">

<img src="{{ url_for('static', filename='img/index/screens.png') }}" alt="screen" class="screens img-responsive center-block">


</div>


<!---------------------------------------------------------------------------->
        <div class="container-fluid content-customize">
            <div class="row button-icons">
                <div class="col-sm-6 text-center" data-aos="fade-right" data-aos-duration="600" data-aos-delay="200">
                        <img src="{{ url_for('static', filename='img/index/iphone-full.png') }}" alt="phone" class="phone">
                </div>
                <div class="col-sm-6 text-center">
                    <div class="phone-text">
                        <h2>Mobile App</h2>
                        <p>Our mobile application for data collection saves your time. Just keep it simple and install our mobile app from Google Play.</p>
                        <button type="button" class="btn my-button" href="google.com" onclick="location.href='https://play.google.com/store/apps/details?id=com.ionicframework.bc897388'"><span>Go to Google Play</span></button>
                    </div>
                </div>
            </div>
        </div>

<!----------------------------------------------------------------------->


        <div class="container-fluid content-customize button-icons-bg">
            <div class="row button-icons">
                <div class="col-sm-4 text-center"><a href="#"><span data-aos="fade-up" data-aos-duration="600" data-aos-delay="200" class="glyphicon glyphicon-ok green"></span></a>
                    <h3>What you get</h3>
                    <p>You will learn about your body and about the right lifestyle.</p>
                </div>
                <div class="col-sm-4 text-center"><a href="#"><span data-aos="fade-up" data-aos-duration="600" data-aos-delay="200" class="glyphicon glyphicon-heart-empty red"></span></a>
                    <h3>Health</h3>
                    <p>The main idea of the project is to raise awareness of health problems caused by poor lifestyle.</p>
                </div>
                <div class="col-sm-4 text-center"><a href="#"><span data-aos="fade-up" data-aos-duration="600" data-aos-delay="200" class="glyphicon glyphicon glyphicon-download violet"></span></a>
                    <h3>Try it now!</h3>
                    <p>You can try our application for free. See more information <!--<a href="#">here</a>-->.</p>
                </div>
            </div>
        </div>

        
<!---------------------------------------------------------------------------->

<!--
<div class="container-fluid content-customize"><h1>Healthy Lifestyle</h1></div>
        
Get Healthy!
Stay Healthy!
-->
<!---------------------------------------------------------------------------->

<!--
        <div class="container-fluid content-customize"><h1>Our circle</h1></div>
-->
<!---------------------------------------------------------------------------->


<!--
        <div class="container-fluid screenshots content-customize">
            <h1 style="text-align: center; padding-bottom: 1em;">Screenshots</h1>
            <div class="row">
                <div class="text-center" style="padding-left: 6em; padding-right:6em;">
                    <div class="col-sm-4 text-center">
                        <div class="thumbnail customize-card">
                            <a href="screen.png" target="_blank">
                                <img src="{{ url_for('static', filename='img/index/screen.png') }}" alt="Nature" style="width:100%">
                                <div class="caption">
                                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                </div>
                            </a>
                        </div>
                        
                        <div class="thumbnail customize-card">
                            <a href="screen.png" target="_blank">
                                <img src="{{ url_for('static', filename='img/index/screen.png') }}" alt="Nature" style="width:100%">
                                <div class="caption">
                                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="thumbnail customize-card">
                            <a href="screen.png" target="_blank">
                                <img src="{{ url_for('static', filename='img/index/screen.png') }}" alt="Nature" style="width:100%">
                                <div class="caption">
                                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                </div>
                            </a>
                        </div>
                        
                        <div class="thumbnail customize-card">
                            <a href="screen.png" target="_blank">
                                <img src="{{ url_for('static', filename='img/index/screen.png') }}" alt="Nature" style="width:100%">
                                <div class="caption">
                                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="thumbnail customize-card">
                            <a href="screen.png" target="_blank">
                                <img src="{{ url_for('static', filename='img/index/screen.png') }}" alt="Nature" style="width:100%">
                                <div class="caption">
                                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                </div>
                            </a>
                        </div>
                        
                        <div class="thumbnail customize-card">
                            <a href="screen.png" target="_blank">
                                <img src="{{ url_for('static', filename='img/index/screen.png') }}" alt="Nature" style="width:100%">
                                <div class="caption">
                                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
-->
<!---------------------------------------------------------------------------->



<div id="contacts" class="container-fluid content-customize text-strip">
    <h1>Contacts</h1>
    <div class="contact">
        NEUROINFORMATICS Research Group </br>
        <a href="http://neuroinformatics.kiv.zcu.cz">http://neuroinformatics.kiv.zcu.cz</a> </br>
        Univerzitní 8, 306 14 Plzeň</br>
        Czech  Republic</br>
        +420 377 632 412</br>
        neuro@ntis.zcu.cz</br>
    </div>
</div>


<!---------------------------------------------------------------------------->




        <div class="footer">
            <div class="row">
                    <div class="col-md-2 col-md-offset-1 text-center">
                        <div class="thumbnail logo kiv-customize">
                                <img src="{{ url_for('static', filename='img/index/kiv.png') }}" alt="KIV">
                        </div>
                    </div>
                    
                    <div class="col-md-2 text-center">
                        <div class="thumbnail logo mi-customize">
                                <img src="{{ url_for('static', filename='img/index/mi.png') }}" alt="MI">
                        </div>
                    </div>
                    
                    <div class="col-md-2 text-center">
                        <div class="thumbnail logo ntis-customize">
                                <img src="{{ url_for('static', filename='img/index/ntis.gif') }}" alt="NTIS">
                        </div>
                    </div>
                    
                    <div class="col-md-2 text-center">
                        <div class="thumbnail logo fav-customize">
                                <img src="{{ url_for('static', filename='img/index/fav.jpg') }}" alt="FAV">
                        </div>
                    </div>
                    
                    <div class="col-md-2 text-center">
                        <div class="thumbnail logo eu-customize">
                                <img src="{{ url_for('static', filename='img/index/eu.jpg') }}" alt="EU">
                        </div>
                    </div>
            </div>
        </div>


<!---------------------------------------------------------------------------->


{% endblock %}
