{% extends "layout.html" %}
    {% block title %}Profil{% endblock %}
    {% block includes %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ url_for('static', filename='popup.css') }}"> <!-- Resource style -->
            <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}"> <!-- Resource style -->
            <link rel="stylesheet" href="{{ url_for('static', filename='timeline.css') }}"> <!-- Resource style -->
            <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.1.0.slim.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/show_div.js') }}"></script>
            <script type="text/javascript">
                $(document).ready( showForm);
                //$(document).ready( showEdit(data) );
            </script>
        {% endblock %}

    {% block content %}
         <div id="avatar_popup" class="overlay">
            <div class="popup">
                <h2>Vložte profilový obrázek</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    <form action="{{ url_for('general.profile') }}" method=post>
                        {{ form_avatar.hidden_tag() }}

                        {{ form_avatar.file }} </br>
                        {{ form_avatar.upload }}
                        <!--<input type="submit" value="add"/>-->
                    </form>
                </div>
            </div>
        </div>
        <div id="add_popup" class="overlay">
            <div class="popup">
                <h2>Změnit heslo</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    <form action="{{ url_for('general.profile') }}" method=post>
                        {{ form_change.hidden_tag() }}
                        {{ form_change.oldPassword.label }}
                        {{ form_change.oldPassword }} </br>
                        {{ form_change.newPassword.label }}
                        {{ form_change.newPassword }} </br>
                        {{ form_change.newPasswordRepeat.label }}
                        {{ form_change.newPasswordRepeat }} </br>
                        {{ form_change.change }}
                        <!--<input type="submit" value="add"/>-->
                    </form>
                </div>
            </div>
        </div>



        <h1>Profil</h1>
        <table>
            <tr>
                <td><img src="{{ current_user.avatar(80) }}"></td>
                <td><a id="avatar_link" href="#" class="tm_new_equipment">Změnit profilový obrázek</a></td>
            </tr>
            <tr>
                <td>Jméno:</td>
                <td>{{ current_user.firstName + " " + current_user.lastName }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ current_user.email }}</td>
            </tr>
            <tr>
                <td>Datum registrace:</td>
                <td>{{  current_user.registered_on.strftime(" %d/%m/%y %H:%M") }}</td>
            </tr>
            <tr>
                <td>Role:</td>
                <td>{{ roles }}</td>
            </tr>
            <tr>
                <td>Heslo:</td>
                <td><a id="add_link" href="#" class="tm_new_equipment">Změnit heslo</a></td>
            </tr>


        </table>






    {% endblock %}
