{% macro link_to(endpoint, text) -%}
<a href="{{ url_for(endpoint, **kwargs) }}">{{ text|safe }}</a>
{%- endmacro %}

<html>
	<head>
		{% if title %}
		<title>{{ title }} - microblog</title>
		{% else %}
		<title>Zdravý lenochod</title>
		{% endif %}
	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>
