{% macro link_to(endpoint, text) -%}
<a href="{{ url_for(endpoint, **kwargs) }}">{{ text|safe }}</a>
{%- endmacro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
      
      
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Body in Numbers</title>
    
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <!--<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='layout-style.css') }}"> <!-- Resource style -->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    {% block includes %}{% endblock %} 
  </head>

  <body>


    <nav class="navbar navbar-default navbar-fixed-top my-color navbar-custom">
      <div class="container-fluid">
        <div class="navbar-header">

        <a class="navbar-brand menu-text-color" href="{{ url_for('measurement.project') }}"><img src="{{ url_for('static', filename='img/lenochod.png') }}" alt="Lenochod" style="width:20px;height:20px;"></a>
        </div>
        
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="#"><img src="foto.jpeg" alt="Lenochod" style="width:25px;height:25px;" class="img-circle"></a></li>-->
            <li><a href="{{ url_for('auth.logout') }}" ><span class="fa fa-user"></span>  Logout</a></li>
            <li><a onclick="openNav()" href="javascript:void(0)"><span class="glyphicon glyphicon-cog"></span></a></li>

          </ul>
          
          <ul class="nav navbar-nav navbar-left">
            <li><a href="{{ url_for('measurement.go_measure') }}"><span class="fa fa-stethoscope"></span> Go measure</a></li>
            <li><a href="{{ url_for('measurement.measure_planning') }}"><span class="fa fa-calendar-o"></span> Planning</a></li>
            <li><a href="{{ url_for('measurement.show_all_projects') }}"><span class="fa fa-folder-open-o"></span> Data</a></li>
            <li><a href="{{ url_for('statistics.showSummaryStatistics') }}"><span class="glyphicon glyphicon-stats"></span> Statistics</a></li>
          </ul>
        </div>
      </div>
    </nav>
    

    



<div id="mySidenav" class="sidenav">
  <a href="{{ url_for('equipment.get_equipment') }}"><span class="fa fa-balance-scale"></span> Equipment</a>
  <a href="{{ url_for('experiments.get_experiments') }}"><span class="fa fa-flask"></span> Experiments</a>
  <a href="{{ url_for('measurement.importData') }}"><span class="fa fa-cloud-download"></span> Import</a>
  <a href="{{ url_for('measurement.exportData') }}"><span class="fa fa-cloud-upload"></span> Export</a>
  <a href="{{ url_for('qrgenerator.person_setup_QR') }}"><span class="glyphicon glyphicon-qrcode"></span> QR code persons</a>
  <a href="{{ url_for('qrgenerator.station_setup_QR') }}"><span class="glyphicon glyphicon-qrcode"></span> QR code stations</a>
  <a href="#"><span class="fa fa-database"></span> Storage</a>
  <a href="{{ url_for('fitness.showFood') }}"><span class="fa fa-cutlery"></span> Food</a>
  <!--<a href="#">Other settings</a>-->
</div>




        
        
        <div class="col-md-offset-1 col-md-10 col-md-offset-1 main">
            
            <!------------------------------------------------------------------------>
            <!--<h1 class="page-header">#stopLenochodům!</h1>-->
            {% block content %}{% endblock %}

  

            <!------------------------------------------------------------------------>

        </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
    
    
<script>
var opened = false;
function openNav() {
    if(!opened) {
        document.getElementById("mySidenav").style.width = "250px";
        opened = true;
    }
    else {
        document.getElementById("mySidenav").style.width = "0";
        opened = false;
    }
    
}
</script>

  </body>
</html>
 
