{% macro link_to(endpoint, text) -%}
<a href="{{ url_for(endpoint, **kwargs) }}">{{ text|safe }}</a>
{%- endmacro %}


<!DOCTYPE html>
<html>
    <head>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
        
        <title>Body in Numbers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='web-layout-style.css') }}"> <!-- Resource style -->
        
        <!-- AOS library -->
        <!--<link rel="stylesheet" href="aos/dist/aos.css" />-->
        <link rel="stylesheet" href="{{ url_for('static', filename='aos/dist/aos.css') }}">
        <!--<script src="aos/dist/aos.js"></script>-->
        <script src="{{ url_for('static', filename='aos/dist/aos.js') }}"></script>
        
        
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        {% block includes %}{% endblock %} 
    </head>
    
    
    
    <body>
        
  <script>
    AOS.init();
    
    $(document).scroll(function() {

  var scrollTop = $(window).scrollTop();
        if (scrollTop >= 200 ) {
            $('.navbar').addClass("nav-down");
            $('.navbar').removeClass("nav-up");
        }
        else{
            $('.navbar').addClass("nav-up");
            $('.navbar').removeClass("nav-down");
        }
});
  </script>
        
        
<aside class="sticky-social">
    <ul>
        <li><a href="https://www.facebook.com/Body-In-Numbers-1451727118215042/?notif_t=fbpage_fan_invite&notif_id=1505392183098950" class="fa fa-facebook"></a></li>
        <li><a href="https://plus.google.com/+PetrBr%C5%AFha" class="fa fa-google"></a></li>
        <li><a href="https://cz.linkedin.com/in/pbruha" class="fa fa-linkedin"></a></li>
        <li><a href="https://play.google.com/store/apps/details?id=com.ionicframework.bc897388" class="fa fa-android"></a></li>
        <li><a href="https://www.researchgate.net/project/Exercise-and-Wellness-Health-Strategy-Framework" class="fa fa-researchgate">R<sup>G</sup></a></li>
    </ul>
</aside>
        
            <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-custom nav-up">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('general.index') }}">Body in Numbers</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('general.index') }}">Home</a></li>
            <li><a href="{{ url_for('general.index') }}#about">About</a></li>
            <li><a href="{{ url_for('general.index') }}#contacts">Contact</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('statistics.showResultsForm') }}">My results</a></li>
            <li><a href="{{ url_for('general.index') }}">Profile</a></li>
            <li><a href="{{ url_for('auth.login') }}"><span class="blue-bg">App Login</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

        {% block content %}{% endblock %}

    </body>
</html>
